[2019-01-17 17:14] mikeboiko opened #1 "Add CLI arguments to vira.py"
This would primarily be used to set server and auth info.
I could code this up using argparse.

[2019-01-17 17:15] mikeboiko opened #2 "Use pipenv for dependancy management"
Let's decide on which version of python we're using first of all. How about we stick with the latest stable release of 3.7?
After this, I can create a Pipfile to specify all required packages.

[2019-01-17 17:16] n0v1c3 commented on #1
I am also working on this as well. Currently I use the vim script to pass the auth through and I thought of a pop-up to let you select your server, enter username, password. Then go into select project.

I have now started to use the python code in my day to day so I do expect it to become quite a powerful standalone from the CLI

[2019-01-17 17:17] n0v1c3 commented on #2
The default is 2.7 in Vim. I have made sure that all of the current  libraries work with a min version of that.

[2019-01-17 17:18] mikeboiko opened #3 "Use linter/auto-formatter for python files"
I propose to use flake8 as a linter
I propose using yapf as an auto-formatter

I have good settings configured for these 2 and can add them to the repository.

flake8/yapf should ideally be used within vim using the ALE (asynchronous linting package)

[2019-01-17 17:24] mikeboiko commented on #1
Ok nice. This is the format that I've used for a bunch of python scripts now and I think it's quite pythonic.

[code]

[2019-01-17 17:26] mikeboiko commented on #2
Well I'm pretty sure you can use python3. You can check your vim install:

[code]

I would urge against using python 2 as it is quite outdated now and many libraries are moving away from it. That being said it will get the job done in the meantime but would not be a good path for the future.

[2019-01-17 17:30] mikeboiko commented on #3
We should also tie them to pre-commit git hooks.

[2019-01-17 17:44] n0v1c3 commented on #1
Might as well put it in now. Do a pull request and I will merge it in.

[2019-01-17 17:46] mikeboiko commented on #1
k will do

[2019-01-17 17:46] n0v1c3 commented on #2
You can use python 3 however, I do like keeping it able to run in 2 if possible then there is no future explanations required to future users. And it will not matter what version of Python they are running it should just work. (Provided they know how to add the required libs to the proper version of python)
`python3 -m pip ...`
`python2 -m pip ...`

[2019-01-17 17:47] n0v1c3 commented on #2
If anything comes out of Python3 that we cannot live without then I will happily change a readme explaining the process.

[2019-01-17 17:50] n0v1c3 commented on #3
For sure regarding the the pre-commit hooks. I wrote most of this at work in Notepad++ so I am sure there is lots of mistakes plus my server at home has not been fully configured to work properly (missing some vim installs) so I am sure it is not looking at my python code correctly (I dont even remember any errors logs showing up when I opened it at home).

[2019-01-17 17:50] n0v1c3 commented on #3
We can set this up and I will fix my new server.

[2019-01-17 17:51] mikeboiko commented on #2
Sounds good, let's go with python 2.7 then. That being said, I would still suggest using pipenv. This way you can sit down on any machine, download the repo and then run the following:

[code]

This will ensure the exact versions of each library are used and will produce consistent results.

[2019-01-17 17:52] mikeboiko commented on #3
Sounds good. Well why don't I do a pull request with my flake8/yapf config file for the time being and you can tweak as you like?

[2019-01-17 17:59] n0v1c3 commented on #2
I need to write this comment for my IT guy.

[2019-01-17 18:10] mikeboiko commented on #2
#

[2019-01-17 18:37] n0v1c3 commented on #3
Sounds good to me.

[2019-01-17 18:41] mikeboiko commented on #2
#4 did the trick

[2019-01-17 18:41] #2 closed

[2019-01-17 18:42] n0v1c3 commented on #2
I will run a test on the merge that I did at home and then close this issue.

[2019-01-17 18:43] n0v1c3 commented on #2
If you tested it good enough for me keep it closed.

[2019-01-17 18:43] mikeboiko commented on #2
Yea I tested it. It should be good to go.

On Thu, Jan 17, 2019, 11:43 AM Travis Gall <notifications@github.com wrote:

[2019-01-17 21:04] n0v1c3 commented on #1
I also have made some lame CLI menus for navigating and editing your issues. I will test your other uploads in my new VIM and then push them this evening.

[2019-01-17 21:05] n0v1c3 commented on #1
Although I am sure you are already using the function inside a CLI loop somewhere...

[2019-01-18 00:50] mikeboiko commented on #2
I found one minor annoying thing about python2 thus far. You can't do f-strings...

[code]

Not really a deal-breaker :P

[2019-01-18 04:27] n0v1c3 opened #7 "vim: create a menu"
I have looked at a lot of the plugins but I am pretty sure we will need a full custom menu created from a temp buffer to pull of what I am dreaming.

Unite is pretty easy plugin to work with but I really want to "re-create" what is in the browser. I will break it down further what I think can be done but I have a feeling it is going to be a lot of Vim script.

I can almost create a "useful" popdow

[2019-01-18 04:36] n0v1c3 commented on #7
I would like to keep the swimlanes in mind while creating a full buffer menu. We should be able to; get required info to display, create a layout with the current number of columns (always split across the top or bottom of all vim buffers), send layout to a read-only buffer of vira type, open and position the buffer in vim), go to the first/current issue, write custom navigation and highlighting i

[2019-01-18 04:37] n0v1c3 commented on #7
Oh and enter takes you into the issue for a detailed view and another key to select that issue as your active issue.

[2019-01-18 16:03] mikeboiko commented on #1
#5 the merge looks good

[2019-01-18 16:03] #1 closed

[2019-01-18 16:03] #3 closed

[2019-01-18 16:13] mikeboiko commented on #7
Sounds like you have given this a lot of thought. I'm good with these things. The only curve-ball I'd throw at this whole idea is considering to write the program as a standalone TUI (terminal user interface) rather than coding it in vim-script. Similar to TUIs people make with ncurses. Although if we were to go down this route I would suggest using the python library prompt_toolkit or something a

[2019-01-18 19:59] n0v1c3 commented on #7
I though of using something like Terminal User Interface but I haven't played enough using these inside VIM but pumping the info back and forth should not be too difficult. Although, if it stays in a VIM buffer we should be able to do anything with the display.

[2019-01-18 20:38] mikeboiko commented on #7
Yea we could give it a shot using pure vim-script and if anything seems like it's more trouble that it's worth, switch to a more powerful language for those items.

[2019-01-18 21:04] n0v1c3 commented on #7
I have a feeling Python will be doing a lot of the heavy lifting in the preparing the layout and then we should just need to but functions/bindings into our custom buffer type for navigation and other hotkeys.

python gets vim info > prepares output > vim loads into buffer > custom keys and highlighting in vimscript

[2019-01-19 00:06] mikeboiko commented on #7
I like the idea of using python to do the grunt work

[2019-01-24 04:03] n0v1c3 commented on #7
Looking at some semi-abandoned code [Unite](https://github.com/Shougo/unite.vim) looks to have a lot of code that should be useful to creating a quick menu in a buffer that can later be customized to look how we want.

[2019-01-24 18:42] mikeboiko commented on #7
I like the look of that a lot! It's great that it integrates with ctrl-p also.

[2019-01-24 18:46] n0v1c3 commented on #7
Very similar to what you had shown me in that email and easy enough to start with as just a required plugin that can be recreated if I choose to expand this.

[2019-01-24 18:54] mikeboiko commented on #7
Yea that's right - it should be easy enough to use Unite with the vira python wrapper to create most of the required functionality.

[2019-01-24 18:59] n0v1c3 commented on #7
That is what I was seeing. I think you or I and both of us can have this functional before the weekend. I am going to start implementing and testing tonight.

Let me know any thoughts/requirements you have along the way.

[2019-01-24 19:01] mikeboiko commented on #7
Ok thanks, that sounds great. I'm mostly working 12h days this week and next week and then I'm off on a snowboard trip for the weekend, so I won't be able to put in much time on this project much until next weekend at the earliest.
Looking forward to seeing your initial code though!

[2019-01-26 07:19] n0v1c3 commented on #7
Take a look at where I am at. You can close this issue once you see this and we can create proper ones as needed.

[2019-01-26 23:01] n0v1c3 opened #8 "vim: clean-up the current variables"
There are old variables left over that should not be used any more. I was using global paths to make it easy at first and there are better proper ways to do this for a proper plugin set-up.

Also some variables that are global could be changed to plugin (**g** -> **s**).

There should be as few global variables, functions and key mappings as possible to ensure less problems with other Vim configur

[2019-01-26 23:06] n0v1c3 opened #9 "vim: statusline"
The statusline is going to be a very important feature requirement to make this a usable plug-in. Some extra planning should go into the design to ensure that the user always knows which Project, issue they are currently looking at.

Also we need to ensure that it will be fully compatible with tools like `airline` to help show off how great it can be.

[2019-01-26 23:08] n0v1c3 commented on #9
Even if it is just a great readme section with an example of how to make an awesome status line with the provided functions. (I might like this idea more to help keep it a **distributable** plugin.

[2019-01-26 23:27] n0v1c3 opened #10 "vira: add timing"
Should not be impossible. Whenever you activate an issue end the last timer and submit to JIRA, start a new timer for the **NEW** issue, start program with the `g:vira_null_issue` issue selected and no timer running, stop any active issue timers and submit and stop all timers if `g:vira_null_issue` is selected again.

Rinse and repeat.

[2019-01-26 23:29] n0v1c3 opened #11 "vira: create an issue buffer"
This buffer will be used to open the active issue and display the current status, description and comments. It should try to represent how JIRA is currently laying out the display for the website.

[2019-01-27 20:16] n0v1c3 commented on #11
Python needs to generate a report now from the JIRA data. That can be `put` into the buffer.

[2019-01-27 20:18] n0v1c3 commented on #11
A colour scheme will also need to be created / kept in mind while creating a report. Vim will be doing this but I do not know much about formatting colours on the fly.

[2019-01-28 22:10] mikeboiko opened #12 "Enable integration of CLI password managers"
I like the current prompting feature of g:vira_pass
However, I use the lastpass password manager CLI for all my password needs. It would be good if we had the option of running a script for the username/password instead of setting static strings.

For example, the vim config for me could like something like this:
[code]

[2019-01-28 22:50] n0v1c3 commented on #12
I completely agree. I also use external password managers and it should be done this way.

[2019-01-28 22:51] n0v1c3 commented on #12
I think this will mostly be up to proper config but I like the way that you make it easy for the user to understand. I just wrote the vimscript to do the same thing for my password.

[2019-01-28 22:54] n0v1c3 commented on #12
This can also be done using the `system` function

[2019-01-28 22:56] n0v1c3 commented on #12
`let g:vira_pass = system("lpass show --password boiko.online")` should work

[2019-01-29 00:50] n0v1c3 commented on #12
I think that is the proper Vim solution.

[2019-01-29 00:56] #7 closed

[2019-01-29 01:14] n0v1c3 commented on #9
The title of the issue would be nice but they will need to be limited in size.

[2019-01-29 04:08] n0v1c3 commented on #11
This is good enough to close this issue for now. Needs more information and style but that will be ongoing.

[2019-01-29 04:08] #11 closed

[2019-01-29 04:22] n0v1c3 commented on #12
I have updated the readme.md file and it looks much better now. I completely removed the mention of putting your ASCII password into your files and you just need to know what you are doing if you want to do that.

[2019-01-29 04:22] #12 closed

[2019-01-29 04:31] n0v1c3 opened #13 "readme: overhaul"
"Borrow" all the best templates for a readme that can be found and update all the sections properly.

- [ ] Requirements
- [ ] Table of Contents
- [ ] Screenshots
- [ ] Description

[2019-01-29 04:31] n0v1c3 opened #14 "license: choose a license"
Probably the MIT license.

[2019-01-29 04:57] #14 closed

[2019-01-29 05:16] n0v1c3 opened #15 "vim: change functions to commands in plugin"
Most of the functions should be safe as commands. This will eliminate the need for the `call ViraXXX()` and replace it with a `ViraXXX`.

[2019-01-29 06:55] n0v1c3 opened #16 "buffer: maintain cursor position"
Leave the cursor where it was between toggles. The position should be reset when the task has been changed.

[2019-01-29 13:47] mikeboiko commented on #12
Nice, that looks good!

[2019-01-29 14:32] n0v1c3 commented on #12
I also added a timeout so it will not completely destroy your vim if the connection goes bad. The captcha is the only thing I can think about but you would need to complete that regardless.

I think I will switch to a new tab with tiny font and use `imagemagick` to turn the captcha into ASCII art but that will be version 2 of the official release I am sure.

[2019-01-29 15:16] n0v1c3 opened #17 "vira: add functions"
Start a list of useful functions that vira should have.
- [x] Create issue
- [x] Search all issues
- [x] Assign issue
- [x] Active project
- [x] Multiple servers

[2019-01-29 15:17] n0v1c3 commented on #17
Keep adding ideas and proper issues will get created as needed.

[2019-01-29 19:21] n0v1c3 opened #18 "cygwin: no dropdown"
There is currently no dropdown menu being displayed. The command `:anoremenu &Vira` shows that it is being properly created just not displayed.

[2019-01-30 02:40] n0v1c3 commented on #18
Some internet research shows that this is most likely an issue with the Cygwin version of the Vim build. I would like to find a solution to provide in the README without the need for compiling the source version of vim.

[2019-02-04 00:01] n0v1c3 opened #19 "Developer Issues Saved on Personal JIRA"
I am currently storing the development related issues on a private JIRA server!

You are free to post your personal issues here (hopefully the ones related to  the Vira software but I will help where I can) and they will be seen. I will keep users up to date with important tasks as required.

[2019-02-04 00:10] #16 closed

[2019-02-04 00:17] #17 closed

[2019-02-04 00:20] #15 closed

[2019-02-04 00:26] #10 closed, assigned to nobody

[2019-02-04 00:32] #8 closed

[2019-02-04 00:36] #18 closed

[2019-02-05 01:13] mikeboiko opened #20 "Getting my password wrong locks my vim for 30s"
It would be good to have a shorter timeout period

![image](https://user-images.githubusercontent.com/24229496/52247740-46442a80-28a8-11e9-8ca7-30c586cf5ea1.png)

[2019-02-05 13:03] n0v1c3 commented on #20
I did reduce the timeout. Believe me it used to be a 8 minute crash when I was first setting it up 😓. What it needs now is a simple try catch and the red lines can go away and it should be closer to a 15 second Vim Crash.

echo Connecting to <server>...
3 attempts with 5 second time out
echo Connected/Failed: ERROR <er #>

I will probably reduce the 3 attempts to 1 and let the user try again on th

[2019-02-05 13:07] n0v1c3 commented on #20
The reduction in the number of tries will be the major reduction in time Vim locked for. I should also be able to run this as a parallel process and simply use the out and statusline to show what is going on.

[2019-02-05 14:38] mikeboiko commented on #20
I like the idea of logging in asynchronously!

[2019-02-05 15:35] n0v1c3 commented on #20
I have moved this along with some other login issues to "Highest" priority and should be patched soon.

[2019-02-05 15:38] mikeboiko commented on #20
Sweet, thanks!

On Tue, Feb 5, 2019, 8:35 AM Travis Gall <notifications@github.com wrote:

[2019-02-05 15:40] n0v1c3 commented on #20
Other than a coffee I should not miss this evening and a job in my way looking at the list I should be able to fix most of it by tonight or tomorrow night.

[2019-02-05 15:42] mikeboiko commented on #20
Right on!

On Tue, Feb 5, 2019, 8:40 AM Travis Gall <notifications@github.com wrote:

[2019-02-08 19:04] n0v1c3 commented on #20
This issue should be fixed on the master branch

[2019-02-08 19:04] #20 closed

[2020-06-02 13:15] mikaoelitiana opened #34 "Invalid expression type()"
I have just installed vira and configured some servers in `~/.config/vira/vira_servers.json` but when I run any vira command, I have an issue:

[code]

[2020-06-02 13:21] n0v1c3 commented on #34
This will become our top priority to look into. We are preparing the first true office release on the dev branch right now and will merge it with master as soon as we can repeat and correct the issue.

[2020-06-02 13:22] mikaoelitiana commented on #34
Thanks @n0v1c3

[2020-06-02 13:33] n0v1c3 commented on #34
The readme will have a few changes to the layout of the config in the dev branch for new features.

I am currently using the yaml setup so check that out as well.

[2020-06-02 19:01] n0v1c3 commented on #34
I at least merged the current dev (V0.0.1) to the `master` branch.

@mikaoelitiana Python version needs to be 3 along with have jira added and Vim version comes up a bit for that error code just wanted to check with you what version you are using. If you could let us know `:version` would be appreciated.

[2020-06-02 20:33] mikaoelitiana commented on #34
Here is my `:version` content:

[code]

[2020-06-02 21:48] n0v1c3 commented on #34
I can currently recreate it. I switched from `vim` to `nvim` and I started to get the same error.

[2020-06-02 23:39] n0v1c3 commented on #34
VIRA-162: type function call modified for neovim

@mikaoelitiana this was able to make it work on my neovim please let me know how it works for you.

[2020-06-03 08:24] mikaoelitiana commented on #34
Yes this fixed the issue and I now can see the servers. But now I am facing new issue:

[code]

Maybe I am missing a dependency?

[2020-06-03 15:10] n0v1c3 commented on #34
@mikaoelitiana Thank you for the update and feedback it is very appreciated.

I just want to confirm if this comes up with the servers or when one is selected?

First guess you can try: `pip install --user pynvim` **"Please Note Where I was Reading Says '--user' may not be possible"**

[2020-06-03 15:12] n0v1c3 commented on #34
FYI:
https://github.com/neovim/neovim/issues/10270

[2020-06-03 15:16] mikaoelitiana commented on #34
@n0v1c3 to answer your first question, this happens when selecting on server. I will try installing this package

[2020-06-03 15:20] mikaoelitiana commented on #34
I had to install it with `pip3` but it seems that I already have it :

[code]

[2020-06-03 15:31] mikeboiko commented on #34
@mikaoelitiana, it seems neovim recently patched this issue:
https://github.com/neovim/pynvim/commit/2cbc13553b113386d23ef225344e61172763ee45
https://github.com/neovim/pynvim/pull/430

Users reported that neovim wasn't automatically importing the vim python module in the same manner as vim was.
Can you try manually running this command before connecting to a jira server:
`py3 ("import vim")`
If th

[2020-06-03 15:48] mikeboiko commented on #34
@mikaoelitiana, I was able to re-create your problem on neovim.
I have found a temporary solution to the problem and want to confirm that it also works for you.
You should be able to connect to jira successfully if you first run `:checkhealth`
After this try running
[code]
Once this is confirmed, we can drill down and find a proper solution for this issue.

[2020-06-03 16:05] mikaoelitiana commented on #34
@mikeboiko I am already on latest stable vim 0.4.3, do you mean 0.5.0?

[2020-06-03 16:09] mikeboiko commented on #34
@mikaoelitiana, yea that should be fine. I'm not 100% sure which version neovim included that patch in but I don't think your version is the problem.

[2020-06-03 16:33] mikeboiko commented on #34
@mikaoelitiana, can you try the latest vira commit on the dev branch? I patched the issue.

[2020-06-03 17:30] n0v1c3 commented on #34
`master` merge from `dev`: `VIRA 0.0.3 - python3 import vim support for neovim`

@mikeboiko thanks for joining in. I looked at your modification on the `dev` branch and it did not hurt my ability to run.

@mikaoelitiana I merged it into the `master` branch for easy updates and testing.

[2020-06-03 18:46] n0v1c3 commented on #34
@mikeboiko one other note. If you had a good way to recreate this issue add it to VIRA-162 comments for my upcoming new Story issue for a testing feature.

[2020-06-03 18:56] mikeboiko commented on #34
already done

[2020-06-04 08:12] mikaoelitiana commented on #34
I no longer have the error on latest `dev` branch, what I have is some issues on the http request, it seems to be credentials on my end.

[2020-06-04 14:51] n0v1c3 commented on #34
@mikaoelitiana you may need to go to the website through the actual browser and login along with entering the confirmation that you are human. @mikeboiko was having similar issues and added the `"skip_cert_verify": true` to the `vira_servers` file and may be related.

We do have an issue already regarding the `pass` command being used regarding multi-line (pass or descriptions included) I currentl

[2020-06-04 15:09] mikaoelitiana commented on #34
@n0v1c3 that didn't help. I have tried `password` with "real" password and "api token" generated in my account but none worked. I wonder if this is linked to any special char used in my password?

[2020-06-04 15:13] n0v1c3 commented on #34
@mikaoelitiana I was about to ask if you had any special chars. It should have been covered but it is worth looking into.

[2020-06-04 15:51] n0v1c3 commented on #34
Did that get rid of it?

[2020-06-04 19:24] n0v1c3 commented on #34
@mikeboiko I believe it may have something to do with the cloud services and tokens. Below is the reported problem along with the first attempt coming for the api key. I believe we simply add another password type for key handling.

https://community.atlassian.com/t5/Jira-questions/How-to-authenticate-to-Jira-REST-API/qaq-p/814987

https://community.atlassian.com/t5/Jira-questions/How-to-use-API-t

[2020-06-04 19:38] mikeboiko commented on #34
@n0v1c3, at a glance that sounds like a reasonable solution. Let's see what @mikaoelitiana's error message says first. It may be as simple as adding an API key login.

[2020-06-04 22:52] n0v1c3 commented on #34
@mikeboiko looks like when I changed our connect from an `auth` to a `basic_auth` it will allow the connection however, I currently do not see the issues. **No Errors**

[2020-06-05 11:43] n0v1c3 commented on #34
This looks like the website is using API3 and python appears to use API2 this may be another part of the problem.

[2020-06-05 11:46] mikeboiko commented on #34
Yea if that's the case we can handle for that by having an option to change rest_api_version.
See https://jira.readthedocs.io/en/master/api.html#jira.JIRA

[2020-06-05 11:49] n0v1c3 commented on #34
Good day @mikeboiko nice find confirmed default is version 2 I will give that a try after some coffee this morning.

[2020-06-05 11:49] n0v1c3 commented on #34
I also sent you an invite to my new Jira online for is to test this.

[2020-06-05 11:51] mikeboiko commented on #34
good plan! I accepted your invite yesterday. Check out the board.

[2020-06-05 11:51] n0v1c3 commented on #34
I guess I should. I never leave Vim though and, I can't see my issue yet.

[2020-06-05 12:38] mikaoelitiana commented on #34
Unfortunately I don't directly see the http error, I have something like this:
[code]

[2020-06-05 12:42] n0v1c3 commented on #34
@mikaoelitiana thank you again. I was able to create that same error and it looks like the API has changed for their website. I think I know the core of this problem I am just looking for a solution to the API version.

I can get rid of the error you are seeing I am just focused on "show my issues" right now.

[2020-06-05 12:54] n0v1c3 commented on #34
I at least pushed the change that gets rid of the long wait and the error message. I will let you know when I can see my errors from an API3 server.

@mikeboiko I think I will start a new issue as VIRA-162 is fixed for the `nvim` and we found a new issue for Jira API versions.

[2020-06-05 13:33] n0v1c3 commented on #34
https://developer.atlassian.com/cloud/jira/platform/rest/v3/?utm_source=%2Fcloud%2Fjira%2Fplatform%2Frest%2F&utm_medium=302#api-rest-api-3-applicationrole-get

[2020-06-05 15:08] n0v1c3 commented on #34
[code]

[2020-06-05 15:43] n0v1c3 commented on #34
@mikeboiko this worked for me to pull an issues details.
[code]
[code]

[2020-06-05 15:48] mikeboiko commented on #34
@n0v1c3, nice sounds like you're getting close to implementing the version 3 api

[2020-06-05 15:48] n0v1c3 commented on #34
Extra note. I was able to connect to our private servers however we will need to add a API2 vs API3 check.
[code]
notice the `2` vs the `3`

[2020-06-05 15:52] n0v1c3 commented on #34
If I can make the connection work with the `Jira` `python` class and functions would be best. However, I have the link for all `GET` that should be able to replace it.

[2020-06-05 16:15] n0v1c3 commented on #34
I can now read data but I cannot write it yet.

[2020-06-05 17:27] n0v1c3 commented on #34
I can now comment, set status are working I still need to fix create an issue.

[2020-06-05 17:36] n0v1c3 commented on #34
@mikaoelitiana and @mikeboiko I have released VIRA 0.0.5 and it should make it work.

@mikeboiko FYI load API3 and remove the users filter for the comments was needed to make it work. I will create a new issue regarding the users.

[2020-06-05 17:42] mikaoelitiana commented on #34
@n0v1c3 this is it!! Now it's all good!!

[2020-06-05 17:42] #34 closed

[2020-06-05 17:50] n0v1c3 commented on #34
@mikaoelitiana I am very glad to hear that and see that this issue is closed. I am looking forward to you giving it a real test and please send me any ideas you have to make it a better vim tool.

You made me actually need to go to my websites for this one and I almost had forgotten what they looked like. Thanks!

[2020-06-05 17:57] n0v1c3 opened #35 "Cannot filter users when using an atlassian jira connection"
As a user I currently cannot use the `ViraFilterAssignees` function.

As a developer I have also removed the read data from the `ViraComment` command to prevent the same issue regarding VIRA-164.

[2020-06-06 03:54] n0v1c3 commented on #35
We will most likely need to use `self` and `displayName` again.

[code]

[2020-06-06 04:52] mikeboiko commented on #34
good work @n0v1c3!

[2020-06-06 20:40] mikeboiko commented on #35
Along with issues listed, we'll have to make sure that the new issue assignee input field is still working properly.

[2020-06-06 20:47] n0v1c3 commented on #35
Set and Get will need to be fixed they are both based on the same issue.

[2020-06-07 20:31] n0v1c3 commented on #35
This issue should now be working on both private servers and the public atlassian.net along with api2 and api3.

[2020-06-07 23:17] n0v1c3 commented on #35
Reopened. Duplicate Unassigned and Comment Usage

[2020-06-08 06:00] n0v1c3 commented on #35
Got the repeating Unassigned users removed along with an alphabetized list other than Unassigned at the bottom.

VIRA-164

[2020-06-08 06:10] n0v1c3 commented on #35
Filters appear to work. But I did catch that Atlassian pull has repeating statuses.

[2020-06-08 06:31] n0v1c3 commented on #35
Repeating data in Statuses is cleaned up.

[2020-06-08 18:59] n0v1c3 opened #36 "Basic authentication with passwords is deprecated"
It has been reported that some have been receiving the below error when attempting to login to an Atlassian Cloud server.

[code]

Currently the common solution is to go to https://id.atlassian.com/manage-profile/security/api-tokens and generate a key that can then be used directly as the password. This was modified by Atlassian for security.

This issue will remain open until an automated method

[2020-06-09 10:22] n0v1c3 commented on #36
`README` has been updated on the `master` branch.

[2020-06-09 12:59] n0v1c3 commented on #35
I think I will call this closed and create another public issue if required.

[2020-06-09 12:59] #35 closed

[2020-06-14 17:51] n0v1c3 commented on #36
`README` appears to be the official answer. I will add a future goal to combine the `add account` and `update account` along with a built in method to set the correct `password` or `password_cmd` for an exiting account along with adding a new account built in.

I will leave this open until I update the `README` for `Beta` and `Password Goals` on the `master` branch.

[2020-06-14 17:58] n0v1c3 opened #37 "`ViraSetAssignee` not working"
An error has been seen and reported regarding the `ViraSetAssignee` command.

My current VIRA-177 branch has patched the private API 2 servers and I am currently looking at the Cloud public API 3 servers.

Filter was also not working however it appears to be working for both Privat API2 and Cloud API3 now with my first attempt.

[2020-06-15 03:57] n0v1c3 commented on #37
The API2 patch should be on the `master` branch now.

[2020-06-15 07:21] n0v1c3 commented on #37
This should now work for both API2 and API3 servers. ie Jira Version 7.4 and up along with the latest Cloud versions.

[2020-06-15 07:27] n0v1c3 commented on #37
Unassigned is not working and should be the last to close this issue.

[2020-06-16 07:09] n0v1c3 commented on #37
Unassigned should now be working. I will follow standards and leave this open for any feedback and related issues and close it in about a week.

[2020-06-18 05:42] n0v1c3 commented on #37
I think I brought it back somehow.

[2020-06-18 05:43] n0v1c3 commented on #37
Only API2 is not working for me right now.

[2020-06-18 05:43] #36 closed

[2020-06-23 07:10] n0v1c3 commented on #37
dev branch should have Sets and Filters fixed

[2020-06-26 06:28] #37 closed

[2020-06-26 21:51] #19 closed

[2020-06-26 23:56] jestinjht opened #38 "Feature request - functions or commands for setting default filters"
This tool would be a lot more useful if I could set up default filters, rather than have to manually select them each time I enter my editor.  For example, my company hosts about 100 projects in a shared Jira server, and only one or two of those are all I'll ever care about.  Right now, I have to select these each time I open my editor, but it would be nice to write this into my .vimrc file instea

[2020-06-26 23:59] jestinjht opened #39 "Feature request - Add function or command for setting the selected issue"
There's a function for getting the selected issue, but not one for setting it.  This would be helpful for writing commands and scripts that automatically select the issue based on other criteria.  For example, my current team has the policy of naming our git feature branches the Jira issue number.  It would be very useful to set the issue based on my git branch name every time I open my editor.

[2020-06-27 00:30] n0v1c3 commented on #38
If you have a look at the Jira Projects section of the README we have started this and always looking for ways to make it better.

This currently uses the name of the directory your project will be in and we are looking at was to expand it. We do have some ideas building for saving and loading your favorite filters so you are able to jump between them and save them along the way.

We do also have

[2020-06-27 00:35] n0v1c3 commented on #39
I think this is easily agreed with. Make more ways for the vim power users to use it as their own tool.

We have one issue related but it is simply to start making a list of useful external calls this is now at the top.

I have also started thinking we want many outputs from Vira as I do not want to write or remember anything. Versions are on my list as well as I like them on my master branch.

[2020-06-27 03:09] mikeboiko commented on #38
Yes we agree and are working on a being able to change servers/filters with commands, rather than exclusively with the interactive menu.

[2020-06-29 18:52] n0v1c3 opened #41 "VIRA-213: README update for vira_project"
There have been modifications that I will post here and then make sure the README has been updated.

[2020-08-19 19:15] uberbrodt opened #43 "NameError: name 'Vira' is not defined"
Followed README, but getting this when running `:ViraServers`:
[code]

output of `:version`
[code]

python3 output from healthcheck
[code]

[2020-08-19 22:46] n0v1c3 commented on #43
@uberbrodt Thank you for letting us know along with the information.

I will have a real look at the issue, I just happen to be getting ready to be going home so I will be on it when I actually get a chance.

[2020-08-20 04:52] ijsong commented on #43
@uberbrodt If you are using nvim, check pynvim.
https://github.com/neovim/pynvim

[2020-08-20 17:45] n0v1c3 commented on #43
`pip install --user pynvim`
OR
`pip3 install --user pynvim` (this was required in another issue over pip)

I have not had a real chance to test your issue but @ijsong reminded me of another issue we had.

[2020-08-24 22:49] n0v1c3 commented on #43
@uberbrodt I am assuming pynvim was not the true core of the issue. I am curious if it is only neovim or if vim is also capable of producing the same issue. The closest I was able to get is having a missing characters in my vira_servers file. Are you using the json or the yaml file?

[2020-08-24 22:54] uberbrodt commented on #43
Sorry got caught up in some other work. I'll take a look later tonight

On Mon, Aug 24, 2020, 17:49 Travis Gall <notifications@github.com> wrote:

[2020-08-25 02:21] n0v1c3 commented on #43
No worries. I am simply interested in making it as easy as possible for everyone to set up. I currently only have an open issue with nVim mentioned and that is simply an update to the README to show that it is supported. 😓 I will now need to add the link to this github issue to that issue as a requirement to call it complete.

[2020-08-25 04:20] uberbrodt commented on #43
I tried upgrading pynvim, but looks like 0.4.1 is the latest version. I double checked the servers config and it looks like valid JSON to me and to a JSON linter I installed. I haven't tried VIM, though I suppose I could. What platforms do you test against?

[2020-08-25 16:22] n0v1c3 commented on #43
Currently most of my testing is in the Linux world (Arch Linux), we did have some OSx issues not too long ago but it was for the BROWSER and there was a pull request that fixed that one. I am doing the testing on Vim and NVim but do admit that I am in Vim the most. Windows may be falling behind in the testing but it was working in the past...

I did see a small change in version of nVim (community

[2020-09-01 14:43] uberbrodt commented on #43
I'm running Fedora, so definitely seems like this should work...I do set the `g:python3_host_prog` variable so that I can use a particular Pyenv, so that _might_ be the issue? I'll try unsetting it and see if that helps

[2020-09-07 16:04] n0v1c3 commented on #43
@uberbrodt looking if you have had a try I will need to set up a test for that myself.

The only thing I have come across so far, this was in the help files:
[code]
I did not see this in my local help but on the online one. I also assume this "should" not be the issue.

[2020-09-16 06:55] zamboney commented on #43
i had the same problem and it's turn out that i didn't configure the `~/.config/vira/vira_servers.json`.
@uberbrodt try to check if your `vira_servers.json` file is set

[2020-09-16 14:00] n0v1c3 commented on #43
We have an issue for that one, if `vira_servers.json/yaml` doesn't exist then ask for manual entry. I will move it up into the next release.

@zamboney thanks for the further update. I should have thought of this one right away.

[2020-09-16 16:20] n0v1c3 commented on #43
@uberbrodt I am curious if you are using `pass` as we do also have one bug that shows up when multiple lines are in your `pass`. If you do try a direct password entry as this is also on the next release plan.

[2020-09-18 17:03] uberbrodt commented on #43
Ok, so I *finally* got back around to looking at this. I tested with removing the `python3_host_prog` and it worked after I upgraded to pynvim 0.4.2 (previous was at 0.4.1).

Setting the `python3_host_prog` again and then manually install the `jira` package works as well. My suspicion is that the automatic install via vim-plug was not working with virtualenv for some reason, so might be something

[2020-09-18 18:06] uberbrodt opened #44 "Default filters assigned in vira_projects are not applied"
I've configured `~/.config/vira/vira_projects.json` like so:
[code]
but when I run `:ViraIssues` or `:ViraReport` I get an unfiltered list of issues. Applying the filters with the ex commands in does work.

[2020-09-18 19:18] n0v1c3 commented on #44
I will start a double check on my filters.

Is the main missing part of the filter the assignee? It looks like you are using an atlassian service and I have an issue so you can use your name like you have it and not the crazy accountID

[2020-09-18 19:24] n0v1c3 commented on #44
You should see your account ID in the filter assignee/reporter menus.

[2020-09-18 19:30] n0v1c3 commented on #43
I will keep this open as I create a new issue for virtualenv testing along with updating the README.

Thanks for the testing, feedback and most of the work. I see another issue up already but please keep them coming as this is the way to make it work better for more of us.

[2020-09-18 19:47] n0v1c3 commented on #44
You should be able to use your name and not a rediculuse account ID.

I assume you are using a full path and not just the dir name? is `/path/to/dir` vs `dir` apparently we do not take a full path and makes me laugh a bit. Should not be the Linux user in me.

[2020-09-18 20:05] n0v1c3 commented on #39
@jestinjht Just to update you. I have not forgotten about you. A random ability arrived from our code to set the current issue through the `g:vira_active_issue` can be used in most case to set the issue from and outside source.

Example for connect to Current Git Branch
[code]
I have not directly added it to the code as this will be potentially unique for each user although, I will update the READ

[2020-09-18 20:08] uberbrodt commented on #44
So "component" wasn't working for me either, so I assumed it wasn't working
entirely. I'll update the account id, thanks for the tip.

So what's the standard on the project name? Should it just be the directory
of the repo, no the path?

For example, if my repo is at /home/cbrodt/some_project, is the correct
name in the vira_projects.json `some_project`?

On Fri, Sep 18, 2020 at 2:47 PM Travis Gal

[2020-09-18 20:12] n0v1c3 commented on #38
@jestinjht I need to do some clean-up on my current highlighting updates coming and that will make holding the current filters easier. Saving/Loading those will be after that. Also a reminder for myself there are the Basic filters we have and we also need to create access to full JQL.

[2020-09-18 20:16] n0v1c3 commented on #44
NOT the path right now. :(

I quickly added that one to the list as I care about my paths normally.

ACCOUNTID should not be an issue I did do a double check on my Atlassian and not my Private and it should not care that you used your name.

[2020-09-18 20:47] n0v1c3 commented on #44
Also, without the vira_projects file at all I assume you are not having issues applying the filters on the go?

[2020-09-18 21:27] uberbrodt commented on #44
Yep, the `:ViraFilter*` methods work perfectly.

So I updated the project name to match the name of the project
directory, but still seems like the `filter` defined in the projects
json are not being applied.

On Fri, Sep 18, 2020 at 01:47:51PM -0700, Travis Gall wrote:

[2020-09-18 21:40] n0v1c3 commented on #44
I restarted on very simple this worked for me. It is important to not that you currently must be in that directory I haven't double checked but I am guessing cd in vim will be a fail for me. ie I `cd $n0v1c3/vira; vim`

[code]

If it was the directory we have talked about this a bit and do not currently want to change your filters as directories are changed inside vim. This is only to load it pree

[2020-09-18 21:58] n0v1c3 commented on #44
I might also suggest to use `"__default__"` as this will apply everywhere and you can make more specific ones for the folder you are in at the moment.

[2020-09-20 06:56] n0v1c3 commented on #39
@jestinjht I added this function for myself and to the README (will make it to master shortly).

[code]

[2020-09-20 16:48] n0v1c3 commented on #44
@uberbrodt I have created issue VIRA-225 and moved it high in priorities. Our current check for `git` will auto send you to `__default__` if you are not in a `git` repo.

[2020-09-20 18:10] n0v1c3 commented on #44
I have checked the first step of the solution in on the `VIRA-220` (different issue) branch it should cover the basics from my notes but I need some cleanup to get `dev` ready for a `master` push.

[2020-09-27 18:27] n0v1c3 commented on #44
@uberbrodt I have made the push to `master` VIRA 0.4.0 please let me know if I have made this work for non-git dirs for yourself.

It should accept full paths, just dir name, git root dir full/dir name. Git is the first to be looked at otherwise you will need to be in the same folder on load of vira.

@mikeboiko has also added a nice feature `ViraLoadServer` that can be used for quick filter switc

[2020-09-27 20:43] n0v1c3 commented on #38
@jestinjht I should have mentioned that `__default__` can be used within the `vira_projects.json` file. This will allow you to have a default mapping for all directories on initial load.

@mikeboiko has also added the function `ViraLoadProject` that can be configured in your vimrc to quick switch between filters and servers in the `vira_projects` file.

[2020-10-29 01:20] n0v1c3 commented on #44
Calling this one closed. Let me know if we missed anything.

[2020-10-29 01:20] #44 closed

[2020-10-29 01:22] #39 closed

[2020-10-29 01:32] n0v1c3 commented on #38
@jestinjht apparently @mikeboiko added `ViraFilterEdit` at least a little while ago sneaking by me. It helps to see all filter fields and edit them from a single location. I think this will cover this issue for the most part.

We have also talked about adding a raw JQL into that list that can be OR'd in some way with the rest of your filtering. Calling it closed but we will be working on filters f

[2020-10-29 01:32] #38 closed

[2021-02-02 10:21] chinwobble opened #45 "Cannot select with ViraServers"
Hey this looks like a really cool plugin.

I've read the entire readme.md but I cannot find how to browse jira issues.

I've created the two json files and tested my username and token are working properly.

I've created the following files according to
https://github.com/n0v1c3/vira/issues/41
[code]
I have installed the python dependencies and I have python3 and python in my enviornment paht.
I'm

[2021-02-02 15:22] n0v1c3 commented on #45
Hello I am glad to hear you are interested. Logging in is always the most fun one.

What was the backtick for? Have you tried the dev branch?

I just want to clear those up then we can dig in further.

[2021-02-02 15:24] n0v1c3 commented on #45
If you are using the `__default__` it should auto connect to the server as well.

[2021-02-02 15:45] n0v1c3 commented on #45
You should simply be able to not press the backtick. It is looking for a non existent mark. I will add something in to override the error as I can reproduce it just as easily.

For now you should simply be able to not press the backtick. Let me know if that is all it was.

I will keep it open to add a patch in to help prevent it for others.

[2021-02-02 16:09] n0v1c3 commented on #45
Also, I assume you are using the cloud service and not a private server? If so make sure you are using the Cloud Password in the readme as you will not use your standard password.

Check also with a raw password entry vs the CMD if there is a difference there it should have been fixed or at least added to my VIRA issues.

[2021-02-04 07:19] chinwobble commented on #45
I'm using dev branch with an atlassian cloud jira account. i.e. company.atlassian..net

for the password I use the token I generated.

I will try out suggestions and get back to you/

[2021-02-04 07:32] n0v1c3 commented on #45
The raw password entry will still be the token just don't use the `password_cmd` mapping just use the raw `password` mapping. That one will be my best first guess or we will need some actual digging.

[2021-02-05 13:15] chinwobble commented on #45
still not working for me. Here is the full steps:
1. I'm on latest dev branch
2. create `~/.config/vira/vira_servers.json`
3. Set the contents to
[code]
I tested these credentials using curl they work.
I curl the confluence api `https://company.atlassian.net/wiki/rest/api/content` and it returns results.

4. open vim and run `:ViraServers` and it still hangs.

[2021-02-05 13:45] chinwobble commented on #45
Can you tell me which version of the Jira python package you have installed?
When I run this in console, it hangs
[code]

[2021-02-06 03:35] chinwobble commented on #45
@n0v1c3 I figured out the issue.
My JIRA cloud account has 12 projects and thousands of fix versions.

https://github.com/n0v1c3/vira/blob/dev/python/Vira/vira_api.py#L826
[code]
When running `:python3 Vira.api.connect("https://company.atlassian.net")`

This isn't respecting the filters. So its taking 30 mins to loop through everything.

I set my `vira_project.json` to this but it isn't taking any

[2021-02-06 08:28] chinwobble opened #47 "VIRA-213: Make the vira_report and vira_menu readonly"
The vira_report and vira_menu are readonly.

Based on my usage, you have created vira_prompt so that you can edit each section of a jira individually.

Like in fugitive in the git status screen you aren't allowed to edit text.

[2021-02-06 08:29] chinwobble opened #48 "make open ViraReport configurable"
I have very limited screen space.

When I open a VIRA report I would ideally like to open in full width rather than split.

I see the in the autoload file you hard code it to open in botright.

Would you be open to making that customisable?

[2021-02-07 03:47] n0v1c3 commented on #47
We do have issues to edit them in place but for now you can use the `<cr>` to edit and select fields.

The report is the place for editing and menus for selecting. I do have an issue for editing and bulk editing in the menus.

[2021-02-07 03:56] n0v1c3 commented on #48
We do have a variable hidden in our `README` that will control the width of the report `g:vira_report_width`

Add the following to your `.vimrc` and you can play with the width. I can make new issues for default left, right, up and down as well if needed. I did have a line at some point in my vim for left and right.

[code]

[2021-02-07 04:08] n0v1c3 commented on #45
what folder are you in? Vira needs to replaced with that folder name for auto filter.

I would start with everything in default or something simple like `assignee` or in this.

default  /server and assignee. I am guessing you do not have millions in your name as assignee.

[2021-02-07 04:15] n0v1c3 commented on #48
We do also have an issue for this to become available on tabs. We can move that up in priority once I am done with `VIRA-69`

[2021-02-07 04:31] n0v1c3 commented on #45
I will also have a good look at this one as I assume your projects have a lot of versions. When this was created we had to go in a back door and not the nice clean filter on the version side like we do on the project side.

[2021-02-07 05:53] n0v1c3 commented on #45
Enough digging aside shows that I brock it in VIRA-142.

I know exactly what is going on and this is now the highest priority.

[2021-02-07 06:27] chinwobble commented on #45
Yea it looks like when you call `Vira.api.connect()` the code hasn't loaded the `vira_projects.json` file yet.

Is your JIRA project public?

[2021-02-07 06:51] n0v1c3 commented on #45
Yea the connect is the issue if you comment out the line 183 `self.versions = self.getversions()` I think this will fix it for you. At least for the initial login.

[2021-02-07 07:00] n0v1c3 commented on #45
This is my I paid 10 dollars for account with JIRA and only have a few left out of my 10 so far. I have also open a couple of the free ones and prepared to transfer this one over with their offer although, my server has now been up for 385 days and it will feel not as important to keep my server running every day.

[2021-02-07 07:35] n0v1c3 commented on #45
The core of the problem is that I will need to make this into a single query the filters are part of the issue but it is also running a query for each project and version.

Officially `VIRA-247: percent complete lag`

[2021-02-07 20:13] n0v1c3 commented on #45
I did a push on that branch for the initial login test. It looks to me like the bug will exist in the list of versions as well as create an issue. I can easily remove it from create an issue by simply not listing them at the bottom. The menu is the main objective as we do wish to use them in the create issue window as well in the future.

[2021-02-07 20:16] n0v1c3 commented on #45
I am also curious about how many users you have roughly and if any improvements will need to be maid there.

[2021-02-09 07:10] chinwobble commented on #45
Can we load versions / users asynchronously?

So I imagine this:
[code]

[2021-02-10 04:58] n0v1c3 commented on #45
That is what will need to be done. Vim 8 should be capable. I will start looking into this one more.

Only problem is once I have an Async working I will need to have alerts for user updates and all kinds of amazing features.

[2021-02-11 08:39] n0v1c3 commented on #45
I have started there and kept on learning and have my first fake async working.

I will write an official push for it and let you know when to give it the first official user trial for me.

[2021-02-11 19:41] maricn opened #49 "Nothing happens on `:ViraServers`"
Hello! :wave:

I have `python3` package `jira` and I've tried putting my credentials to `~/.netrc` and using `jira` from `python` console and it works well, I can connect and browse projects and everything.

However, using `vira` vim plugin nothing happens. I have created `~/.config/vira/vira_servers.json` with content:
[code]

When I issue `:ViraServers` command, a new buffer opens in a bottom sp

[2021-02-12 22:47] n0v1c3 commented on #45
@chinwobble Some pushes have started to come to VIRA-247 I need to do some menu front-end clean up and some confirmation that it is not running way too much on the system.

[2021-02-13 07:50] n0v1c3 commented on #49
Did you define the path in your vimrc?

It looks I may have left out the default.

`let vira_config_servers = $HOME . '/.config/vira/vira_servers.json`

I will have a closer look in a bit but I am working on a big one RIGHT now

[2021-02-13 19:30] maricn commented on #49
I didn't have it, but I've tried with your suggestion. This is what I've tried:
[code]

And, no rush, man! :) Thanks for sharing this plugin with us! <3

[2021-02-13 20:03] n0v1c3 commented on #49
Are you  using `password` or `password_cmd` I do assume your first test run is with `password`. Do you have a `vira_projects.json` file yet?

[2021-02-13 20:09] n0v1c3 commented on #49
Also check out branch VIRA-247 if you are on a larger server with many projects/versions that is the high priority fix right now.

Random though on my mind is to make sure you have a very simple `default` inside `vira_projects.json`

[2021-02-15 04:59] n0v1c3 commented on #45
I have got the front-end cleaned I need to do some final testing for the single query at a time then I will pass the testing on to you.

[2021-02-15 05:50] n0v1c3 commented on #45
It is now a single query at a time I simply need to clean up the query as there is a mix of projects and versions that will not exist, ie project A has version 1.0.0 and B is only at 0.2.5 A and B will each currently show 1.0.0 and 0.2.5

[2021-02-15 08:05] chinwobble commented on #45
thanks let me know what features you want me to test.
I assume it will be in dev branch.

[2021-02-15 10:29] maricn commented on #49
* I was using `password`. Haven't tried with `password_cmd`.
* I didn't have `vira_projects.json` file. I tried adding one, but with no change. (with `__default__` name too in case that's handled specially)

[2021-02-15 15:29] n0v1c3 commented on #45
@chinwobble

I am down to "one" bug now. The core of the feature is testable.

Using branch VIRA-247
- Connect to your Jira server
- Quickly open the version filter window `ViraFilterVersions`
- Have a look and close that window quickly
- Open that window again and have a look and close it
- Once there is an error message at the bottom it is done
- You will have an error message from me that won't

[2021-02-15 15:34] n0v1c3 commented on #45
Sorry that variable is `s:vira_async_timer = 5`

That is in ms but it also must wait to complete and in line for other tasks that are in line. If you have a lot lot of versions there may be some "stuttering" that I did not see even with test at my larger jobs.

[2021-02-15 15:45] n0v1c3 commented on #49
@maricn this has been talked about between @mikeboiko and myself as well once async started. Users are next on my list after versions. I will need to expand the solution for what I am currently working on. I have done a quick push on VIRA-247 if you don't mind giving it a try for me.

You will need to stay out of the `ViraSetUser` and `ViraFilterUsers` menus for now.

[2021-02-15 16:10] maricn commented on #49
Just did, no success. Still the same.

Got it...

[2021-02-15 16:15] n0v1c3 commented on #49
Did the stay away from the menu work as I did remove the initial user load from the code?

[2021-02-15 16:21] n0v1c3 commented on #49
`__default__` will just log into the server declared in it if you open any other menu before being connected.

[2021-02-15 16:25] n0v1c3 commented on #45
OK I have got the core fixed with one more thing to learn for vim to make it amazing. Once I made it work properly I did need to change the timer but this is ONLY for thing like "holding" down a key to do multiple thing ie. I was being lazy and held down `j` but you will see it jump every 500ms (ish) can you guess what I changed the timer too?

It is not a huge deal and you wont notice it for most

[2021-02-15 17:22] n0v1c3 commented on #45
It is now OFFICIALLY working from my prospective. Once you connect you should have a full list quite quickly and then it will get out of the way of vim by slowing itself down for future updates. (I will still need to work on the 'future updates' idea I have).

My work to do.
- Check initial lag with largest server connections possible.
- Ensure future updates on the fly for the project and version

[2021-02-15 18:08] maricn commented on #49
I think we have some misunderstanding here. This is the state of `vira` plugin:
![image](https://user-images.githubusercontent.com/3995223/107980672-f634ee00-6fc0-11eb-8cd7-a568b866812f.png)

These are my `vira` config files:
[code]

This is how my `nvim` looks like right after I type `:ViraServers<CR>`:
![image](https://user-images.githubusercontent.com/3995223/107980801-29777d00-6fc1-11eb-81c5-1

[2021-02-15 18:19] mikeboiko commented on #49
@maricn, can you try deleting your 2 json files please?
vira will interactively prompt you for your server/credentials.
If this is successful, try running `:ViraIssues`

[2021-02-15 18:35] maricn commented on #49
OK, I think my problem probably lies elsewhere. I removed the config files, but I got no prompt.

![image](https://user-images.githubusercontent.com/3995223/107982726-dc95a580-6fc4-11eb-99b8-7ec10691bcef.png)

[2021-02-15 18:43] mikeboiko commented on #49
Yea it seems like either the per-requisites or the vira plugin isn't loaded properly.
Are you running multiple versions of python on your machine through pyenv?
Can you open neovim and run `:py3 import jira` successfully?

[2021-02-15 19:07] n0v1c3 commented on #49
I didn't have a chance to try but make sure it is not referenced in your .vimrc as well for this test.

[2021-02-15 20:25] maricn commented on #49
OK, whoa, I got it :facepalm: ! My `:checkhealth provider` returned:
[code]

It is clashing with my `.curlrc`:
[code]

It seems that `pynvim` is struggling with it because it interprets the headers from the curl response, and I redirect them to `/dev/stderr` by default.

Sorry, sorry, sorry, everyone, definitely not in your scope! Thank you for helping me find out the issue! :pray:

[2021-02-15 20:27] maricn commented on #49
Although, now when I go with `:ViraServers` and input my server, username and password, I get:

[code]

[2021-02-15 20:29] mikeboiko commented on #49
Glad you got that issue figured out.
That's a strange one. I'm also using python 3.9.1 and I don't get this error.

[2021-02-15 20:30] mikeboiko commented on #49
Try the fix suggested in https://stackoverflow.com/questions/64213739/attributeerror-magic-object-has-no-attribute-cookie-while-using-python-jira

[2021-02-15 21:36] n0v1c3 commented on #49
@mikeboiko if that works we will probably just add it officially to help future users as well.

[2021-02-15 21:38] mikeboiko commented on #49
@n0v1c3 gotta hate it when those magic cookies don't play nicely ;)

[2021-02-15 22:43] n0v1c3 commented on #49
Lol! They were much more fun in highschool for some reason.

[2021-02-15 22:53] n0v1c3 commented on #48
@chinwobble just for you once you approve VIRA-274 I will get this one done next for you just out of the value of the async for some repayment.

I don't believe it should be too hard but vim script can always correct me there. This also will be a relatively quick fix as the async will need lots of integration all over our code now as well.

I can worry about the output of the version menu while I

[2021-02-15 23:02] n0v1c3 commented on #48
Also, keep pushing as many ideas, issues and improvements towards me as possible. VIRA-69 was a big attack on Epics then we are on a cleanup round for version 0.5.0 or 1.0.0 however, async got in in time that we can build a good list to make it great for version 1.0.0.

[2021-02-15 23:03] maricn commented on #49
Yes, spread the word about them! 🍄🍪

Btw, maybe you should also document that larger servers will have issues connecting unless you set up a filter for the repo to narrow down the project. For me it's not just slow, but also errors out and doesn't work without a `filter.project` entry in `vira_projects.json`. (I'm still on VIRA-247 branch). Also, even when it does, is painfully slow, so let me kno

[2021-02-15 23:04] n0v1c3 commented on #47
Async updates will now be applied to menus and reports bit this may not be 100% easy.

[2021-02-15 23:06] n0v1c3 commented on #47
Once they update async next step is to send info without and extra window then have the fake read only work. I am sure there is a way to toggle the read only once I actually look for it.

[2021-02-15 23:32] n0v1c3 commented on #49
When was your last update on VIRA-247? It should be nice to you now. I am interested in feedback for sure and, the filters are broken on it right now. If you have a "Vira" filter it will still show all your versions from all projects. I am working on that and then pushing it to dev once approved.

Filters will not be required for connection speed in the very near future. This was because of some w

[2021-02-15 23:40] n0v1c3 commented on #49
We also motivate any information from you pushed straight into the `README`. The `Trouble Shooting Tips` section will need to start to grow and clean up to help new users set up.

I would like to welcome you to the team and there is no better way than the "README didn't help me".

One more thing, for the painfully slow are you referring to how fast the list grows or how fast vim runs?

[2021-02-15 23:43] n0v1c3 commented on #49
I also brought back that users line in the connect function inside python if that fixed it earlier then you can comment it out for your temp patch.

[2021-02-16 00:29] maricn opened #51 ":ViraFilterProjects -> IndexOutOfBounds"
branch `dev`:
https://github.com/n0v1c3/vira/blob/be80ff2783302127bb7606d9acc845a2781f0888/python/Vira/vira_api.py#L380-L381

branch `VIRA-247`:
https://github.com/n0v1c3/vira/blob/e43320406c67831da35b88fcb56a235a9741fade/python/Vira/vira_api.py#L383-L384

In response from:
[code]

I get several:
[code]

It seems JIRA API returns empty `"projects"` response for archived projects. Python plugin `ji

[2021-02-16 00:34] maricn commented on #51
Looks like `get_projects`'s response can be reused without making additional request with `jira.createmeta` in `print_projects`.

To overcome the issue, I applied the following patch to `VIRA-247` (e433204) that also takes care of parallelizing requests to the API:
[code]

[2021-02-16 00:53] maricn commented on #49
Yes, I'm up to date, at e433204 and that's where I noticed the slowness too.

I'm referring to how fast vim runs. It seems very clogged, UI is not very responsive for minute(s). I can use it, but very pedestrian style, 500+ms lag or so.

I'm not sure what kind of setups are you testing this on, but I've been in a couple of companies that had 10+ times more stuff on JIRA than my current one, so I'd

[2021-02-16 09:53] n0v1c3 commented on #51
The idea was to re-use the print and always keep refreshing the data in the menus is the idea as it is growing. I am sure my work arounds for more information than we were supposed to have was most of our pain but this one is a new on for sure. Must not delete enough projects.

I did a test on this with a few servers and had no issues. Feel free to make a pull request for it.

[2021-02-16 10:01] n0v1c3 commented on #49
- Caching is high on the list
- Getting users even higher
  - I know where the issue is for users

There is a line in `autoload/vira.vim` `let s:vira_async_timer = 1` try changing that I to a 25/50/250 these are in ms. I think I pushed the wrong number in while playing.

[2021-02-16 10:51] n0v1c3 commented on #49
If a lower number in particular works without being noticable in vim we have won. That async will run one background query per Xms. I will need to add a juggle in for users and versions. The base of which is one at a time version then user then version then user... For each list "quickly" once then you will see an adjustment of that timer in the async function once list is complete.

Fight now the

[2021-02-16 11:01] chinwobble commented on #48
I implemented this workaround in my vimrc
[code]

[2021-02-16 11:07] n0v1c3 commented on #48
I am sure that line of code will become attached to a `g:` variable, smart enough for a must be used if screen didn't reach minimum size,  and a choice between the two on the fly. All built in, I should be able to test it quickly. Code it might take a moment or two.

[2021-02-16 11:14] chinwobble commented on #45
This still hangs for me.
[code]

[2021-02-16 11:16] chinwobble commented on #45
Also this part of the code needs to be guarded. It will throw out of bounds error if the version list is empty

[code]

[2021-02-16 11:29] n0v1c3 commented on #45
I don't believe it can cause an issue but the real way is to handle all possibilities. I was the rush out the door to at least keep it going. Good thing my years of practice taught me why branches are so good for us.

I believe that the `s:vira_asyn_timer` variable is the problem I pushed in while testing the code at the end. It is running a query every 1ms. I am looking for the smallest number po

[2021-02-16 11:32] n0v1c3 commented on #45
Start at 1000 and keep cutting in half until you notice it again. That might be are current query speed.

I know I call it async and for vim I am even in shock but it is not truly async so when a query is running nothing is happening. However, when the query is running vim is building a list of what you are telling it to do (ish) and then the OoO is what we are really using for a fake async

[2021-02-16 11:35] n0v1c3 commented on #45
There is also a readjustment of that variable once the list is completed once (all projects) that will slow down the queries you will see that in the async function at the top.

All of this is in `autoload/vira.vim`

[2021-02-16 11:41] n0v1c3 commented on #45
Number of users will also require a similar hacking as we are doing the same thing. There is a line in the python `connect` function for the initial users list. I have temp helped @maricn on that on although you will not be able to use the user menus.

Since it is basically the same issue as this was it is very high priority.

[2021-02-16 11:45] n0v1c3 commented on #45
`self.users = self.get_users()`

[2021-02-16 11:48] n0v1c3 commented on #48
@chinwobble if you have any other her ideas such as the left, right up down just on my mind or the list above let me know I have made a real issue for this and may as well start tracking the list of "making it look good for me"

[2021-02-16 11:49] chinwobble commented on #45
![image](https://user-images.githubusercontent.com/18226001/108059157-32dc1480-70a9-11eb-8a7a-aca41c884348.png)

I'm getting this error because that case isn't handled.

[2021-02-16 11:51] chinwobble commented on #45
Also I did some testing. Since the code isn't really async and it just something to handle timeouts.
Would it be easier to do the async logic in python?
[code]

I tested this logic with `:py3 import asyncio; asyncio.run(Vira.main())` and it seems more readable than using viml to handle async.

[2021-02-16 12:18] n0v1c3 commented on #45
Do you have deleted projects?

I very much like going full async into the python side. The variables were all about to move into python anyways as they have no place in vim other than my initial round. All vim should need to do is check a stable variable from python that updates itself amazingly fast I am sure.

Very nice one. Now I have asyncish vim and async python that should be a great combina

[2021-02-16 12:25] n0v1c3 commented on #45
FYI we do have "long long" term plans that vim is just one front end option for the amazing backend python plugin. This helps expand usage for all.

Python will have its core operations with jira code separated completely with the breakdown. Will will then just make our `print` and `vim_print` functions.

[2021-02-16 12:42] n0v1c3 commented on #45
And of course the queries should have been 100% background. I will save may secret vim async so that your reports can do live updates for you on the screen. After you have a stable connection of course.

[2021-02-16 12:55] maricn commented on #49
It doesn't matter how big I make that number (10/50/100/500/5000) - at the moment when it triggers the request it slows down vim UI considerably. It leads me to conclusion it is not truly multi-threaded solution, but merely get-out-of-my-sight kind of approach to async.

I see https://github.com/skywind3000/asynctasks.vim that might jump to rescue, but tbh, it seems like too much effort. **Local c

[2021-02-16 13:13] n0v1c3 commented on #49
I have a very big dream but I don't want to have even my hopes that high (this async backend and frontendish was not a slow down).

My real goal is going to be what do you want `vira` to infect next. I think that started when my `s` key started to select, change issues mentioned in reports and open the browser. I knew there would be no end after that.

[2021-02-16 14:20] n0v1c3 commented on #49
I like the idea of a live chat option added since the async now. Although, I will stay on jira topics for the first official release.

VIRA-69 is ironically an epic issue. Then we are in a clean up what we can in the code and frontend.

Some major will never ends but the nicer they look the better are thing that will eventually become very not fun to handle all code style formats when wrapped. And

[2021-02-18 06:27] n0v1c3 commented on #48
I will be pushing this following line onto the active fix branch.

[code]

This will go right into tab mode if you set `g:vira_report_position = T` I believe that should be good now.

[2021-02-18 07:01] n0v1c3 commented on #48
I may make the previous existing variable  g:vira_report_width = -1 for T. I still need to add in the auto calculator for if less than 50%ish auto tab.

Let me know what you think about that. For know the previous one is working on our test branch.

[2021-02-19 00:45] #43 closed

[2021-02-19 00:52] n0v1c3 commented on #48
@chinwobble I am sure there will be one more renaming of the variable but the reuses the existing one I had. Numbers can also be used with `0` for Tabs. I think that should call this one done once you pass it.
[code]

[2021-02-19 00:57] n0v1c3 commented on #51
@maricn I have pushed this one in. I will hopefully get the async done tonight and then we will have something good for testing out there.

[2021-02-22 04:50] n0v1c3 commented on #45
@chinwobble I have done a decent push on `VIRA-247` it should have the project/version side not holding up your system at all. I do have a few more functions to apply async to but this should make the tool much easy to initially load.

I will be adding the users to that branch as well as I assume that is a similar delay for all larger servers. Once you approve this from your POV I will get it to t

[2021-02-22 04:56] n0v1c3 commented on #49
@maricn you will see on my other active issue that hopefully the loading of the projects/versions is not an issue and up for testing. I also mentioned that my next step will be the users to update in the same way. This is currently on branch VIRA-247 and once good enough for the bigger players will get merged into `dev` and most likely quickly into the `master` after some clean-up rounds.

Let me

[2021-02-22 09:00] n0v1c3 commented on #51
When approved I will close this issue

[2021-02-22 21:57] maricn commented on #45
@n0v1c3 Hm, strange, now I get an error trying to execute `:ViraFilterProjects`:

![image](https://user-images.githubusercontent.com/3995223/108775370-47188980-7561-11eb-9c91-43216f3881ca.png)

[2021-02-22 22:29] n0v1c3 commented on #45
Yes I had just seen this one after my post last night as I was preparing for a `dev`/`master` merge with a test.

It works fine in vim but not in nvim... That must be a first to have multitasking in vim and not nvim.

I had a rough idea of where the issue is just not a clue yet what the issue is.

The first couple async functions seem to only be allowed to run once on nvim on my last closer look.

[2021-02-22 22:37] n0v1c3 commented on #45
There is still a non-async function YET that may cause a small "bounce" ever 2 seconds. I am interested in hearing about that from your perspective.

This bounce will be the next attack on the list once nvim passes. It should be a small enough bounce that you will only notice it if you are holding a key down like I do with `l` and `h` to test it. I cannot see it with my normal vim usage.

[2021-02-22 23:11] n0v1c3 commented on #45
If you comment out the aysnc function and call to it in autoload it should work everywhere but the versions for you.

[2021-02-22 23:15] maricn commented on #45
I'm not that comfortable with the code base here, and I've never written a vim plugin myself, but I'll check it out more these days. Now is past my bedtime, so maybe I hear back from you before I get to it. Anyways, thanks for looking into it and sorry for hijacking this issue (i realized late i replied on someone else's issue).

[2021-02-23 05:19] n0v1c3 commented on #45
https://github.com/neovim/neovim/issues/3844

Above is the core of the issue. I should be able to avoid this should already not be patched however it is crashing when my async array has blank strings in it... I will do a quick test with a letter stamp in the array as a protector if that works it might just be my work around until I give my mind that break.

[2021-02-23 05:45] n0v1c3 commented on #45
https://github.com/neovim/pynvim/issues/342

Even more important and more to come I am sure.

[2021-02-23 06:38] n0v1c3 commented on #45
The bounciness you see appears to be an issue directly inside how neovim handles multitasking. Let me know if you can see a difference after I get my next push out here.

The key will be that vim and neovim cannot handle true multitasking. Also neovim appears to be behind with python/asyncio workarounds for code simplicity.

I believe for now this will be the best I am able to do especially with t

[2021-02-23 06:47] n0v1c3 commented on #45
I will also have a nice gab (2 seconds) for the async tasks untill all things have been completed once then I can slow it down to only update once every (60 secods) this is per single item query. This way once vira has had one inital wave through the reast of its updates can slow way down.

This 2 seconds is probably the important part for your quality control test at this point of what I can do f

[2021-02-23 09:04] n0v1c3 commented on #45
@chinwobble and @maricn, I may as well bring in @mikeboiko as well, I should be far enough with my pushes that I am simply at the endless cleanup but worth a good test as I believe this should make it to the master branch for our larger users as quickly as possible.

The key variables to test for a default on the release:
`g:vira_async_timer` and `g:vira_async_timer_init` with `10000` and `2000` (

[2021-02-23 18:53] chinwobble commented on #45
@n0v1c3 Hey thanks for all your hard work. I just tested
- (/) `:ViraServers` no longer hangs. Its very quick now since you removed loading versions.
-

[2021-02-23 19:09] chinwobble opened #52 "ViraReport throws unhandled exception when issue not founding"
branch dev

steps to repro

[code]

if the JIRA ABC-1234 is not found in your server, it print a stacktrace to the current buffer.
It should just return an error message at the bottom.

[2021-02-23 19:46] n0v1c3 commented on #45
Haha. Changing the OoO has affected our `H` key mapping for these menus and how we choose if we hide an item or not. We can most likely open a new issue directly for that one and close this one as we have gone very far from where we started.

Also. in your config file you should change `vira` to represent the folder name for the root of a project and `"project": "WEB"` changed to `"project": "IOS"

[2021-02-23 19:49] n0v1c3 commented on #52
I think you did this one just to `try` and catch me!

[2021-02-23 20:17] n0v1c3 commented on #47
A note for myself:
[code]

[2021-02-23 20:27] n0v1c3 opened #53 "ViraFilterVersions `H`idden mapping broken"
As a developer I have broken the `H` key mapping while changing the OoO for https://github.com/n0v1c3/vira/issues/45 the `if` statment used to determine when they should be displayed will need to be adjusted. At least that is where it will begin.

`if fixed != total or total == 0 or not int(self.versions_hide) == 1:` line 855 in `python/Vira/vira_api.py`

[2021-02-23 20:43] n0v1c3 commented on #45
Let me know if there is anything else for this issue or new issues for us to create otherwise I think we can call this one done.

I am curious if you did a test with setting the `g:vira_async_timer_init` variable lower to see how that affects you?

There is also a variable inside `autoload/vira.vim` called `s:vira_async_debug` that if set to `1` you should at least be able to see the full list tha

[2021-02-24 06:17] chinwobble commented on #45
Also is it possible to get rid of this menu
![image](https://user-images.githubusercontent.com/18226001/108956643-2e74b480-76c4-11eb-9d32-018d5d68dc1b.png)

[2021-02-24 06:36] n0v1c3 commented on #45
I would say I have no direct clue in vim. I am guessing we can with "no" problems just like everything in vim and seen in other plugins. I have one override for a plug-in mentioned on the README at the bottom but, not to hide everything on the standard menu.

I will open on on my Jira and another new issue here. Keep the challenges coming.

[2021-02-24 08:13] n0v1c3 opened #54 "VIRA-248: EPIC issues cannot be created with vira"
As a developer I have broken the ability to not create, along with never having never having the good was for code testing As this is now moving up in usefulness for more than myself priority is moving up with it.

[2021-02-24 08:27] n0v1c3 opened #55 "VIRA-249: Get rid of menu report titles"
user (@chinwobble) had requested the ability to hide the menu and report titles. I had no issues seeing the value in this             leading to this issue being created.

[2021-02-24 08:45] n0v1c3 commented on #45
I think I have prepared enough to close this issue you and I can keep motivating others people by closing this one up and getting this out to master. I may be getting more and more interesting in hoe interested you are in reporting issues to me as we can both clearly see the value of this last problem solve for vim/nvim.

I do have some true endless cleanup leaning for this issue however, you will

[2021-02-24 08:54] n0v1c3 commented on #45
@chinwobble head up i did confirm to switch the default back to the right side of the screen. This will only affect you if you had **nothing** in `.vimrc` for it.

[2021-02-24 08:55] #45 closed

[2021-02-24 09:08] n0v1c3 commented on #49
@maricn I have closed that other isses with @chinwobble/#45 at least for now as we move to hopefully start creating and endless list of new issues. I will always appeaser new issues being found in my tools being built to help solve the issues for other people around the world.

I am still very interesting in hearing your feedback and will leave this issue open as I am beginning my proper clean-up

[2021-02-24 09:18] n0v1c3 opened #56 "VIRA-250: menu reports `modifiable` toggle"
[code]

[2021-02-24 09:20] n0v1c3 commented on #56
I may also want an auto script attach on out git tools for exactly that. Even with the stely buy mad cleaner for my added FREE "selling"

[2021-02-24 10:03] n0v1c3 commented on #48
I think I can easily close this one as well and we can keep opening new ones.

I did just jupdate the default back to the `L` mapping as this is where it has been for quite a while and really bugged me once all I wanted to do was dealt everything so MY code works for ME. 🧑‍💻

[2021-02-24 10:20] n0v1c3 commented on #48
I do very much understand it is much more complicated than that now especially when I need to review my own README now for how it works...

@chinwobble; @mikeboiko and myself will definitely appreciate a new list of was to make a reports better for you is any way. From style to `try`, perfect timing and just our great form of development sense of humor developing along the way.

[2021-02-24 10:21] #48 closed

[2021-02-24 11:45] maricn commented on #49
@n0v1c3 Now it works much better with the latest updates. The cursor just barely stutters when holding `j/k`, and the loading times seem to have improved in general.

Thank you for getting so involved with my comments. :)

[2021-02-24 11:45] #49 closed

[2021-02-24 11:47] maricn commented on #51
This issue doesn't appear any more, good to close. :)

[2021-02-24 11:47] #51 closed

[2021-02-24 17:21] n0v1c3 commented on #49
@maricn I am glad to hear that it is working better for you now and a thanks for these issues leading to a much better feature than expected.

As we talked about, consider yourself becoming part of the team one piece at a time and pointing out everything I have done wrong. There is no way we can make software great for all of us otherwise.

[2021-02-24 17:24] n0v1c3 commented on #51
I was going to wait for a push from you but I just did the copy and past. I will be wrapping up cleanup on that branch at least to `dev` today and `master` quickly.

[2021-02-24 17:40] n0v1c3 commented on #52
I do already have a function in `autoload/vira.vim` for `error_msg(code, msg)` I also have a concept for it just no plan as of you. I do believe the first proper step for an error guide would be a CATEGORY breakdown, Organization and then displays.

I believe I even started to adjust this error message preemptively for out async tasks and then this cam up. It may not be the same on `dev` right now

[2021-02-24 20:37] n0v1c3 commented on #41
@mikeboiko I believe this should be displayed as the standard with a link to the yaml guide. My only next major goal is to clean up this `README` and kept making it as simple one step here as possible.

Full details can be in the help file I copied and pasted to start with and we can make some special files for things like yaml.

[2021-02-24 20:38] n0v1c3 commented on #41
If anyone else has a thought on that let us know.

[2021-02-24 21:01] n0v1c3 commented on #47
@chinwobble I have done a merge one my VIRA-69 for this issue NOT the proper way, right away onto dev and risk onto master and that also made me remember this was not too much fun. There will be a proper way to do it especially now that I can multitask in vim and nvim. I will just need to turn it on and off while hide it from the display. This will also solve another one of your issues to be able

[2021-02-25 05:06] n0v1c3 commented on #52
Current Idea:

- Error message.
- "Stay" on/in current (Null if not chosen).
- Null leads to select issue menu.
- FUTURE and off topic, add history to personal reports visited. (50% of the concept is in the code just not smooth).

[2021-02-25 05:55] chinwobble commented on #53
what is OoO?

[2021-02-25 06:21] n0v1c3 commented on #53
Sorry "Out of Order" or "Order of Operations".

[2021-02-25 06:24] n0v1c3 commented on #53
My first glance at it told me that we used to expect the entire array to be there and now we need to run a "new" equation for each time the JQL runs.

[2021-02-25 06:40] n0v1c3 commented on #56
I have updated the style on my `README` for the example report this should be how a script can transfer from our tool to other tools where desired.

We may need to change our default back to that to make it as easy as possible for people to do things like copy it to their emails,
[code]

[2021-02-25 09:40] n0v1c3 opened #57 "Vidio Support from Outside!"
Show us a great recording that we can post on our other account. I am truly a back end programmer and have just got this far in the front end as needed.

If you are curious about the other account that is simply so our active vim users do not have any activity with the videos. No point in downloading viravid when just using vira...

@mikeboiko did throw us a small script to get started but my end

[2021-02-25 09:44] n0v1c3 commented on #57
FYI:
https://raw.githubusercontent.com/n0v1c3/viravid/video/vira-demo.gif

As you see it comes from viravid that is where I will simple need to replace it.

[2021-02-25 14:56] mikeboiko commented on #57
FYI - I used `terminalizer` to record the gif. These are some basic instructions.

Install:
`npm install -g terminalizer`

Basic Usage:

[code]

See fancy config options in https://github.com/n0v1c3/viravid/blob/master/vira.yml

[2021-02-26 08:38] n0v1c3 commented on #47
@chinwobble VIRA-213 should now how a readonly as needed. I shill needed to make it pretty but that can also be merged into the hiding of the entire "tab's" ugliness.

Let me know how it goes for you.

[2021-02-26 08:44] chinwobble commented on #47
should this be nomodifable instead?
https://github.com/n0v1c3/vira/commit/5c1a3aad80c7f289807daea4e13a54bbf083b686#diff-93336de9847f9c412020ad62cdbfe420c7f41ce036616722624750f64b44c28eR48

[2021-02-26 09:01] chinwobble commented on #48
I'm using dev branch and I have this in my `vimrc`
[code]

However when I run `:ViraReport` it still shows up on the right as a split.

[2021-02-26 09:07] n0v1c3 commented on #47
Yup, I just need to hide the message.

[2021-02-26 09:09] chinwobble commented on #45
For me I noticed the UI is quite slow.

When I jump from top of screen to bottom of screen `gg` and `G` there is a lot of lag.
I suspect for each page that is loaded in the background it blocks the UI temporarily.

[2021-02-26 09:09] n0v1c3 commented on #48
You should only need:
`let g:vira_report_width = 'T'`
OR
`let g:vira_report_width = '0'`

I dropped position during that branch sorry :(

[2021-02-26 09:13] n0v1c3 commented on #48
Apparently I will need to max an issue for a non character `0`

[2021-02-26 09:13] chinwobble commented on #48
thanks ` let g:vira_report_width = 'T'` works for me now.

[2021-02-26 09:20] n0v1c3 commented on #45
You should be able to set your `g:vira_async_timer` and `g:vira_async_timer_init`
**init** will get it done and smaller number is faster I have set to one.
**timer** default is 10s you can spread out
all times are in **ms**

[2021-02-26 09:21] n0v1c3 commented on #45
If you are not worried too much about lots of version filters other filters will but versions into your logs slowly and you can also slow them right down.

[2021-02-26 11:17] n0v1c3 commented on #57
I will need to fix whatever is causing that reload error for the report.
- Old messages no longer folded. **Only Important One**
- Leave unfolded if unfolded on reloads.
- Take advantage of new async while we are at it.

[2021-02-26 11:31] n0v1c3 commented on #47
I added one line of code to make make it a bit better but something is wrong deeper down. It is no longer styling the REPORT the way it was.

[2021-02-27 03:16] n0v1c3 commented on #41
@chinwobble I have found a few bugs since starting the cleanup on README VIRA-213. I should have got the big ones out of the way now although I know for sure there is still some more that must go away.

I at least want my "Older Comments" fold back that is for sure. Then I then we will just need to focus on your bugs and I and open any more as needed.

[2021-02-27 03:21] n0v1c3 commented on #47
@chinwobble that VIRA-213 push should definitely pass for this now.

[2021-02-27 05:52] n0v1c3 commented on #57
I should probably clean up my bugs first.

[2021-02-27 06:10] chinwobble commented on #47
The UI is very slow for me now.

Here's how you can profile the python code.

[code]

Note you must not have any white space before / indents.

[2021-02-27 06:26] n0v1c3 commented on #47
This one is working for me. Only difference I will make is move it into `python` but you can do a quick push into it so I don't forget.

[2021-02-27 07:00] chinwobble opened #58 "slow performance"
As a user, I don't want an open VIRA report to be slow and I don't want each report to take a long time to load.

I suspect something is wrong with the async code.

I'm going to put a few examples of how to profile the python and vim code.

## profile python code
[code]

Then i use [snakeviz](https://jiffyclub.github.io/snakeviz/) to check the results.
![image](https://user-images.githubuserconten

[2021-02-27 07:31] n0v1c3 commented on #58
Please note https://github.com/pycontribs/jira/issues/622 from our README as well. Not directly related on the connection but worth a look.

[2021-02-27 07:32] n0v1c3 commented on #58
I do no not have any major delays though.

[2021-02-27 07:36] n0v1c3 commented on #58
I know I broke quite a bit getting it working backwards but it was still very worth it.

[2021-02-27 07:41] n0v1c3 commented on #58
Regarding the snakeviz package. Using it to test is fine. We would need to make a good plane to make something like that long term.

We even needed to fold with `yaml` and that is just because @mikeboiko and @n0v1c3 like it.

[2021-02-27 08:17] chinwobble commented on #47
see also
https://thoughtbot.com/blog/profiling-vim

[2021-02-27 08:26] n0v1c3 commented on #58
`Older Comments` was also broken between the following comets.
[code]

[2021-02-27 08:29] chinwobble commented on #58
I commented out this code and its fast again.
[code]

I think you can test on your own server by creating hundreds of new versions.

[2021-02-27 08:30] chinwobble commented on #58
This is the vim profile I get when I just have the vira_report open. This does not include connecting or print_report.
[code]

[2021-02-27 08:31] n0v1c3 commented on #47
I will take a closer look at it for sure.

[2021-02-27 08:38] n0v1c3 commented on #58
If you are shutting it right off I would try setting `init` and `timer` quite high in `ms`.

@mikeboiko  and I are looking for a way around their extra lag bugs as well.

[2021-02-27 08:41] n0v1c3 commented on #58
Also have you tried to comment out the one mentioned above?

[2021-02-27 08:47] chinwobble commented on #58
I think to implement true async, we need to use the job and channels api in vim.
Here is an example I found.
https://github.com/OmniSharp/omnisharp-vim/blob/03f8fd4c88d1d5447da55ec499f2ca563e7e54d0/autoload/OmniSharp/proc.vim#L4
https://vimhelp.org/channel.txt.html

[2021-02-27 08:59] n0v1c3 commented on #58
Probably smoother and cleaner.

[2021-02-27 09:12] n0v1c3 commented on #58
@chinwobble you should also be able to try:

[code]

That should be 30s apart. Worth a test with tack away the python time.

[2021-02-27 09:16] chinwobble commented on #58
I just did a quick test, this doesn't block or lag the ui.
[code]

[2021-02-27 09:25] n0v1c3 commented on #58
Tested in vim and nvim?

[2021-02-27 09:29] chinwobble commented on #58
I tested in vim, but not nvim. I think the API in nvim is slightly different.

If look in the channels help page, there is a reference to an example server.
https://github.com/vim/vim/blob/master/runtime/tools/demoserver.py

This has a few advantages over the current approach:
- creating a separate demo server can strictly separate the UI and backend logic.
- The server can strictly handle caching

[2021-02-28 03:50] n0v1c3 commented on #58
`vim` was fantastic. As always I will need to figure out how to use that for `nvim`

[2021-02-28 05:53] n0v1c3 commented on #58
I have got a small `vim` to work however, I may spend my time on another workaround to make sure it works for nvim as well.

This does not directly give me multitasking as the real problem is still JQL and the core solution will still be to create two separate solutions (`vim` and `vira`) the main goal is to infect `vim` with the `vira` and not be separated from it. I will also be supporting `nvim

[2021-02-28 06:08] n0v1c3 commented on #58
BTW: you are able to call directly to vim from that command without an impact witch is pretty good but I want it to be completely unknown.

I will end up back at this issue once `nvim` catches up.

[2021-02-28 07:36] n0v1c3 commented on #58
I may need to try `let s:is_neovim = has( 'nvim' )`

[2021-02-28 07:55] chinwobble commented on #58
No I think the server shouldn't know anything about vim.
The server should only handle caching, making api calls to atlassian and reshaping the json to make it easier to work with.

The syntax highlighting, formatting it fields into a table, autocmds, etc should all be handled inside vim outside of hte server.

[2021-02-28 08:00] n0v1c3 commented on #58
We do have a goal for sure to have it out, I guess as long as I think of it as the "n0v1c3 vira" in a single package.

[2021-02-28 08:02] n0v1c3 commented on #58
[code]

[2021-02-28 08:05] n0v1c3 commented on #58
VIRA-83 will most likely agree with that.

[2021-02-28 08:32] n0v1c3 opened #59 "VIRA-83: GitHub and Jira usage"
As a user I would like the ability to use this Vim plugin with either Jira or from GitHub to help make it unrequited to even change the software I am using to track my work on different servers. All function Vim level should look the same (unless simply something is only available from one of them) then the functions can do the *server type* confirmation and changes as required.

- [ ] Add any one

[2021-02-28 08:46] n0v1c3 commented on #47
@chinwobble I believe the issue here is closed and only remains with the async issue.

[2021-02-28 09:01] n0v1c3 commented on #52
[code]

[2021-02-28 09:03] n0v1c3 commented on #52
Pretty sure I will need to start with that `if` statement.

[2021-03-03 19:34] n0v1c3 commented on #58
@chinwobble I got all the "new" major bugs that I created out of the way. I am sure that the delay is still an issue for you the `bugs` just happened to take priority as I tried to start looking at it.

[2021-03-04 22:29] n0v1c3 commented on #47
What I did proce more than it fixed so I removed a line and need to reopen this issue.

[2021-03-06 11:38] chinwobble commented on #58
The current dev branch is unsable for me since it keeps blocking the UI.

[2021-03-06 17:35] n0v1c3 commented on #58
I have had a chat with @mikeboiko in the real world and we do want this to run as a separate process for sure especially as we keep growing. VIM will purely be the front end in the end.

[2021-03-06 17:37] n0v1c3 commented on #58
I do have this as the highest priority still as any "larger" users will want a smooth connection inside vim still.

[2021-03-06 19:27] n0v1c3 commented on #58
I am most likely going to put a temporary flag on the async this will stop versions from working but it should run smoothly. Then versions will be a bonus feature for now or a deal with it for the menu call.

[2021-03-08 18:56] n0v1c3 commented on #58
@chinwobble last push may still be a bit slow for you I did not comment out the full chance that opening a report will add that version to your versions list.

I am sure your versions have thousands of issues in them as this seem to be the core of the problem when I try to recreate it.

I can roll my versions menu way back and it will just be a tag for the version and not longer have the counts fo

[2021-03-09 09:09] n0v1c3 commented on #58
[code]
These lines of code will be the core of my problem. I will work on it "tomorrow" but the issue is that the `plugin` I am using goes through all issues hear instead of letting me go through each one individually. I have tested some to make my own copy and that will be the solution. There was a big difference between versions with 1000 issues and 50 issues, even though my base query is for 1

[2021-03-10 15:37] n0v1c3 commented on #58
I am beginning to play with a `db` that is updated slowly and held locally for quicker readings. I will also do another temporary push to the master branch shortly to stop the version updates from laying your system completely until this is working.

[2021-03-10 16:03] #56 closed

[2021-03-11 08:35] n0v1c3 commented on #58
I think it is pretty easy to say now that the `db` will be the answer for sure. We can make it handle quite a bit of work however, I will want to make sure it is good and safe and can handle a smooth updating process prior to being released based on the `db`. This will now no longer be a complete "re-wright" of the code but quite a large change in operation that was previously planed and additiona

[2021-03-13 04:48] n0v1c3 commented on #58
Trying to make a smarter table design with what time I do have to spend. The branch I am on will be dangerous for a bit but eventually the `db` will have a `version` table that will manage the updates for the design changes. I also need to make sure that it is not just hitting hard on both "developers" side and the "owner's" side so I will make sure that there are some timers, limits and prioritie

[2021-03-13 04:49] n0v1c3 commented on #58
- issues
- projects
- servers
- statuses
- users
- versions

[2021-03-13 04:52] n0v1c3 commented on #58
If we take enough / all of the data it will be possible to have an offline mode where the firs offline step would be that you could at least read all the data from `vira` while you are disconnected. Going further we would want to hold comments for when you are back online, much much more fun.

[2021-03-13 20:15] n0v1c3 opened #60 "VIRA-230: story points"
As a user I would like to be able to adjust the story points on any issues I have permission to.

[2021-03-13 20:29] n0v1c3 opened #61 "VIRA-10: issue time tracking"
As a user I would like to be able to track the time I spend coding as required on some projects. I would however, like this tracking to be as close to accurate as possible to my actual work and not my waling away and leaving `vim` running.

[2021-03-13 21:18] n0v1c3 commented on #61
As I have been working on VIRA-253 this has started to become a real thought. Between async and a database we should be able to keep track of things quite well. "One the db works"

[2021-03-15 04:38] n0v1c3 commented on #58
I hope that patch `VIRA 0.4.8` will help out well I work on a real longer term solution.

- [ ] Percents Removed

- [ ] Version List Broken
    - I could but another patch in if I can do real work on the db side when I have time fast enough as well. I believe the `async` looked fine to me it was simply that percent calculation I had set up through Jira.

[2021-03-18 03:52] wym2010 opened #62 "VIRA-272: select site in :ViraIssues, then nothing happens??"
![image](https://user-images.githubusercontent.com/22862848/111570680-48477a00-87e0-11eb-94f5-f34b87582728.png)
![image](https://user-images.githubusercontent.com/22862848/111570713-572e2c80-87e0-11eb-87c2-54a58298a6d1.png)

[2021-03-18 03:54] wym2010 commented on #62
I use latest version of Vira, on centos7, Jira version is v8.13.1.
also I can not login with correct password with "#" character included in.

[2021-03-18 05:42] n0v1c3 commented on #62
Hello @wym2010 thanks for letting me know that something is not working and not giving you much information as to why.
- [ ] vira_servers file?A
- [ ] key password or personal password?
- [ ] vim or nvim?
- [ ] manually opening server login window? Or, opening issues and forced to login then allowed to open issues?
- [ ] Python3? Looks like that is not an issue
- [ ] Linux, Mac, ...Windows?
That s

[2021-03-18 14:24] n0v1c3 commented on #62
What terminal are you using while we are at it as well?

[2021-03-21 05:55] n0v1c3 commented on #58
The base of a `db` is coming to life on my branch VIRA-253 it still doesn't really do anything useful but all the features are their for some real functionality to start happening. The first round of the `db` wont be to bad as I will not worry if it will need to loose its data for next updates however version handling and proper patching will be a high priority as well inside this issue as it shou

[2021-03-26 20:47] n0v1c3 commented on #62
@wym2010 try a test on VIRA 0.4.9 update for the `master` branch and that would have been some issues that were not on my list before.

I will also check if you are logging into a server with many and/or larger projects/versions. The VIRA 0.4.8 has a temp patch that should work around heavy lag from that now.

[2021-03-28 17:51] n0v1c3 commented on #52
A note for myself and some feedback.

Multiple servers may be possible to check. Start with the one you are in then go down the list. Then fail.

The db has a note for this already in my private notes as we will be able to find where that issue is without changing servers.

[2021-04-02 14:08] chinwobble commented on #58
I can you see you put a lot of working into working on the `db`.

Do you think it will be better to split all the db related code into a different python class.
This `vira_api.py` file is getting pretty large now.

[2021-04-02 15:48] n0v1c3 commented on #58
Good day @chinwobble, I have also told myself that as the db code keeps growing, I just had it in there to get the core of the db running and I am basically there now.

You should be able to have a test run if you are interested, the only thing is no db version control exist yet as it is next on the list. It should just update/delete your first db/tables once that is in place to control my table c

[2021-04-02 18:43] n0v1c3 commented on #58
If you are willing to have a test you will see that you have, well do not have data in your database when you first start. The following commands have not been added into the code mappings/logic but you can add them into `.vimrc`.

" One second updates ( "vira test slow" )
`nnoremap <silent> <leader>vts :let g:vira_async_timer=1000<cr>`

" Basically as fast as the network will let you updates ( "v

[2021-04-09 00:45] n0v1c3 commented on #58
Currently only works with one server, looking into that next. I am also going to slow it down with an option for the fast update.

I have also caught on the side that issues can be missed randomly and a list will need to be created of "possible" missing issues. I know they can be transferred to projects and still apparently show up in the original project. Work around it will need to be made for a

[2021-04-09 14:22] n0v1c3 commented on #62
@wym2010 you still out there? I am going to close this one if it is working for you otherwise, I am still happy to look into it with you to get it working for you and as always easier for the next users.

[2021-04-13 11:30] chinwobble commented on #58
@n0v1c3 if you want to test with a large jira server, maybe you can sign up to apache's jira and query their api.

[2021-04-13 17:05] n0v1c3 commented on #58
@chinwobble Just added them to the list. I will add them to the tests for the db.

May "guess" is it can handle it. :)

[2021-04-13 23:19] n0v1c3 commented on #58
@chinwobble welcome to the GitHub team! I am making the plan on Jira along with the clean merge with GitHub issues back and forth.

[2021-04-14 01:18] n0v1c3 commented on #58
I have at least created an epic for now VIRA-279. You can use this for branches and labels until it gets even better.

I try to use the right commands to label my pushes with the issue as a prefix ie "VIRA-279: ..." this makes GitHub look nice.

As for the dev once you are happy with something you are working on simply merge it into there (also with the issue label "VIRA-279: ...").

My version 0.

[2021-04-18 07:17] n0v1c3 commented on #58
That was the correct website to do the testing on BTW. I got to GERONIMO-1632 and then I could not make it any further.

This happened to be the worst issue to crash on as it was called "Test" and I happened to crash there but it also happens to be the last of the more than one thousand issue that were closed on 2006/08/07  (August). The first official day of more than 1000 Jira updates on https:/

[2021-04-19 04:11] n0v1c3 commented on #58
I will have more to clean it up but it looks like that should have got the query.

[2021-04-24 17:40] n0v1c3 commented on #58
And, now a cleaner, even faster query. My last issue there is simply the query time when pulling from https://issues.apache.org/jira is simply slower than my server in my basement. It will currently take me about a week to update my database with all of their information using `JQL` especially inside `vim`.

I am going to finally focus on make the things I have broken work, mostly menus now. Then

[2021-05-03 20:51] n0v1c3 commented on #58
`db` now has it's own class `ViraDB` and it will be cleaned up more and more. I did not worry about braking the front end as the DB is working.

[2021-05-08 08:44] n0v1c3 commented on #62
@wym2010 I am closing the issue but feel free to open it again any time if you want to got get it working for you.

[2021-05-08 08:44] #62 closed

[2021-05-12 07:31] n0v1c3 commented on #58
I found some interesting ones, I know that you may be interested in @chinwobble , I had an issue with `nvim` vs vim while exiting the program and it turns out that there is a knowing issue for the `sqlite` and `print` functions and how they are handled in `nvim`.

I have also cleaned up the sqlite connections only for ONE vim session with vira running. This otherwise, will cause lag as each vim se

[2021-05-13 03:52] n0v1c3 commented on #58
It took this long but I have actually select ONE single version from the menu.

There were of cores still core bugs left into what I have checked in however, this is the key of the original issue.
- Need to protect my SQL further then we will not miss any issues
- Change loading order to newest to oldest
- Clean version menu selection (FINALLY)
- Replace all front end with loading from the databas

[2021-05-20 18:34] nathanaelcunningham opened #70 "VIRA-213: Autoload of Vira Server/Project"
How exactly does `When you're in a git repo, vira will auto-load your pre-defined settings by matching the local repo name from file path.` work? I have a vira_projects.json added to the default path following the readme, but whenever i try to look at issues i have to select the server first.

[2021-05-20 19:39] mikeboiko commented on #70
vira tries a couple of different methods in this order.
1. Try to get local git repo using `git rev-parse --show-toplevel`
2. Get last folder name using `pwd`

See code snippet from `load_project_config()` in `vira/python/Vira/vira_api.py`:

[code]

[2021-05-21 18:53] n0v1c3 commented on #70
Hello @nathanaelcunningham the main goal was put in by @mikeboiko. When you are inside a folder and run `vira` ie `connect` to the server it will check that list that @mikeboiko mentioned above to see if there is a best fit otherwise fall to the `__default__` settings or NO filter if there is no file at all. (Here simply the `vira_servers.json/yaml` file will be needed.

If you are inside `vim` on

[2021-05-21 19:03] n0v1c3 commented on #70
There is also a bit better breakdown of the json format in [#41](https://github.com/n0v1c3/vira/issues/41) I will probable just update that at the same time and just call this one a bit easier for others.

[2021-05-21 19:54] n0v1c3 commented on #70
As I am reading to begin cleanup I can see som confusion is possible. I will try to make a simple as can be for here is `json` and here is `yaml` with a list bellow for what is each row. This way we can have simply ONE section for "here is a file and how you can make a copy for what you need it to do for you"

I personally use the "ViraFilterEdit" command a lot as I can simply take what I make fro

[2021-05-22 23:26] n0v1c3 commented on #70
https://stackoverflow.com/questions/62642858/captcha-challenge-on-login-with-python-jira

[2021-05-23 22:02] n0v1c3 commented on #70
[code]

[2021-05-25 01:38] n0v1c3 commented on #70
@nathanaelcunningham give a test on the `VIRA-207` branch if you have a chance. I think that you had only one server and that was a bug in my code.

[2021-05-25 02:00] nathanaelcunningham commented on #70
@n0v1c3 That branch is working. I tested the projects file with just the default server and that worked. Ill try project specific server setup in a bit.

[2021-05-25 03:27] n0v1c3 commented on #70
I have a feeling this one has floated past me for a little while now as my test we all on multiple servers setup. One more test on a list that is being created. Thanks!

I did start with a `README` cleanup so I will probably do a quick wrapup of that and push it to master for the rest of the people. It appears to work fine on `vim` and `nvim`. Multiple servers still appears to work and should just

[2021-05-25 05:54] n0v1c3 commented on #70
@nathanaelcunningham and @mikeboiko I daringly moved it to the `master` branch so lets see how that goes for everyone out there. It did not seem to break anythiny I had set up and only made it better so I cannot see to many complaints coming.

Thanks @nathanaelcunningham, I know that I started with the `README` and your config but I am sure there are other ways to keep making it better as I don't

[2021-05-25 12:59] n0v1c3 commented on #41
I hope the `README` is getting there. I am closing this one and will open specific ones as needed.

[2021-05-25 12:59] #41 closed

[2021-05-25 15:48] n0v1c3 commented on #47
Updated the issued number to break it free from the general open the doors and `README` issue.

[2021-05-25 21:13] n0v1c3 commented on #62
@wym2010 I know I have closed this one a little while ago but I believe it may have been related to the single server only issue that I needed to do a patch for.

You should be able to give it a try now. If you only have one server configured it should auto login for any menu calls and ignore that window for servers. That window will now only appear for no servers and multiple servers when not ran

[2021-05-25 22:45] n0v1c3 commented on #53
Moved to VIRA-253 as a goal now.

[2021-05-28 20:56] n0v1c3 commented on #70
@nathanaelcunningham I assume not much new has come up for yourself on this? It is on the `master` branch and haven't heard much so far.

I will call it closed and new ones can be opened as needed.

[2021-05-28 20:56] #70 closed

[2021-05-29 06:37] #59 closed

[2021-05-29 08:30] n0v1c3 commented on #47
I did a push that covers the start if this one again and the small stuff starts to appear on me. VIRA-282 branch exists for now. I am sure more will come but here is a list for now:

[code]

[2021-06-11 20:11] n0v1c3 commented on #47
Mostly into true code cleanup and hunt for bugs then it should be all good.

[2021-06-12 04:18] n0v1c3 commented on #47
@chinwobble this is on the `dev` branch for a test now if you want to give it a run. I am bug hunting and checking my other small issues before I will just get it to `master`.

[2021-06-15 21:28] n0v1c3 commented on #47
- [ ] `issues` fail to refresh if open when commenting.
    - This is the major one now.
- [ ] Keep `win` scroll position.
- [ ] Same `pos` for comment updates.
- [ ] Switch menus without close keeps position
    - Each menu should hold position
    - In fact each report should be in a history and hold its position in history.

[2021-06-22 08:35] xbot opened #72 "Works in neovim but not in vim."
This plugin works perfectly in neovim, but complained the following errors in vim:

[code]

Vim has +python3 enabled.

[2021-06-22 09:25] piotryordanov opened #73 "Config not being read"
I am running the `dev` branch of the plugin.
I have created the files and populated them with the required credentials.

Yet, running `:ViraServers` fails. Any idea why?

![image](https://user-images.githubusercontent.com/48773775/122899885-e3f30400-d354-11eb-89b5-c5322c1d8303.png)

[2021-06-22 09:26] piotryordanov commented on #73
Also, after I press enter on the error window, I get this
![image](https://user-images.githubusercontent.com/48773775/122900069-0a18a400-d355-11eb-8cfb-a6b6d1be5a6a.png)

[2021-06-22 09:48] piotryordanov commented on #73
Nevermind. I had a few python plugins that weren't installed. Works now!
Thx for the great project guys!

[2021-06-22 09:48] #73 closed

[2021-06-22 10:04] piotryordanov opened #74 "Setting task sprint?"
I search the doc and repo and found no way of setting the `Sprint` of the task.

Is it possible or is it not yet implemented?

Thank you!

[2021-06-22 13:49] n0v1c3 commented on #74
Good day @piotryordanov,

I believe I was getting it ready then side tracked while working on fixing my build an `Epic` issue `VIRA-69`. Off topic issue from there leading to not complete.

I will label this as `VIRA-161` and move it to the `Highest` priority.

[2021-06-22 14:11] n0v1c3 commented on #72
@xbot I hope the day is a good one.

These are always my favorite ones to hunt down on as it does appear to work on `vim` still.

I know it is worth a check of your `whereis vim` command and find out what the priority is. It may not be the same place that is getting updates anymore. Try run each one with full paths and see if there is a difference.

Issue #43 also is worth a look. We just kept tal

[2021-06-22 14:16] n0v1c3 commented on #73
Thank you. I am glad we could help with this issue!

[2021-06-22 17:05] piotryordanov commented on #74
Thx a lot!

[2021-06-24 16:52] n0v1c3 commented on #72
@xbox,

I think Mac is telling you to upgrade all systems to `Pro` now. 😁

If you want to dive in a bit with me. There is a function inside `autoload` that imports `Vira`. This function is where a path is added along with the import of the python side, `vira#_init_python()`.

Take a look there and make sure it is at least getting these and the paths make sense. If you take of the `silent!` here yo

[2021-06-26 05:57] n0v1c3 commented on #47
@chinwobble,

Check out the `dev` branch. I am sure I have gone to far with it but it should also be more than the original issue of `readonly`.

I will close this one and on to the other ones as long as it is working for some other people.

[2021-06-28 18:33] n0v1c3 commented on #72
@xbot I am glad to hear this one.

I am going to keep this issue open and it will most likely end up with a `VIRA` tag beside it so it can simply go away.

[2021-09-18 06:06] chinwobble opened #75 "Filter Vira issues by sprint"
Would be great if you could filter the issues by sprint.

It should be simple to implement since you can trivially add it to the jql.

[2021-09-21 18:13] jacobstr opened #76 "Allow Personal Access Token (PAT) Auth"
Personal access tokens authenticate via the 'Authorization: Bearer xxx' header. It looks like VIRA only supports basic auth at the moment.

Description of the feature is here: https://confluence.atlassian.com/enterprise/using-personal-access-tokens-1026032365.html

When using the python API, these creds can be provided via:

[code]

[2021-09-27 22:53] n0v1c3 commented on #75
This is also part of the `VIRA-161` Story.

I can get myself back at work here.

[2021-10-18 17:59] n0v1c3 commented on #76
VIRA-293 now has an active branch for anyone that would like to test this for me. I am working on other clean-up for the `dev` branch then it should all come together for a `master` push.

[2022-05-05 18:16] jgarciaokode opened #79 "Epic Number is not working"
Hii, first of all thanks for this wonderful plugin

I have a question, i dont know why Epic Links are displaying None all the time, any ideas?

I wanted to know the identifier of the epic, in this case it would be

<img width="388" alt="image" src="https://user-images.githubusercontent.com/79897391/166987097-6f1c8bdb-346b-404e-8876-ed34e9465896.png">

<img width="348" alt="image" src="https://user

[2022-08-09 08:01] xbot opened #80 "How to create custom filters?"
I know how to set the default filter, but there are times when I want to filter issues on other conditions, for now, I have to reset the current filter and set them one by one, it's ineffective and stupid.

Is it possible to preset some groups of filters and switch to one of them with a single hotkey?

[2022-08-09 16:33] mikeboiko commented on #80
I can recommend 2 methods:
1. Run `:ViraFilterEdit`
2. Configure all your filters in `vira_projects.yaml`
    Then set some mappings to jump between them. This is useful to jump between jira projects as well.
[code]

[2022-08-09 16:33] #80 closed

[2022-08-10 09:07] mikeboiko commented on #80
I'm not sure if I understand exactly what you're proposing with "custom filters".
Feel free to make a PR though.